Repository aws/eks-anywhere-packages, pull requests merged in 2022-11, with the labels that each got.

#602 Add build option to test to suppress warning
  Makefile
Labels: lgtm, approved, size/XS

#610 Add digest to chart
  charts/eks-anywhere-packages/values.yaml
Labels: lgtm, approved, size/XS

#612 Add proper comments for chart
  charts/eks-anywhere-packages/values.yaml
Labels: lgtm, approved, size/XS

#613 Cleanup previous authentication jobs and skip on cronjob suspend
  pkg/authenticator/ecrsecret.go
  pkg/authenticator/ecrsecret_test.go
Labels: lgtm, approved, size/L

#614 Add document on registry use
  docs/registry.md
Labels: documentation, lgtm, approved, size/S

#615 Chart.yaml version for image tag
  charts/eks-anywhere-packages/templates/_helpers.tpl
  charts/eks-anywhere-packages/templates/cronjob.yaml
  charts/eks-anywhere-packages/templates/deployment.yaml
Labels: lgtm, approved, size/S

#618 Revert "Remove deep copy from bundle (#597)"
  pkg/bundle/manager.go
Labels: lgtm, approved, size/XS

#619 Updating error messages for driver and token-refresher.
  ecrtokenrefresher/pkg/kubernetes/kubernetes.go
  pkg/driver/helmdriver.go
Labels: lgtm, approved, size/XS

#620 Reverting chart image tag change
  charts/eks-anywhere-packages/templates/_helpers.tpl
  charts/eks-anywhere-packages/templates/cronjob.yaml
  charts/eks-anywhere-packages/templates/deployment.yaml
Labels: lgtm, approved, size/S

#623 Add helm keep annotation to namespace
  charts/eks-anywhere-packages/templates/namespace.yaml
Labels: lgtm, approved, size/XS

#591 Checking bundle diff before pushing on staging pipeline
  generatebundlefile/hack/release_staging.sh
Labels: lgtm, approved, size/XS

#624 Add createNamespace PBC setting
  api/v1alpha1/packagebundlecontroller_types.go
  charts/eks-anywhere-packages/crds/crd.yaml
  config/crd/bases/packages.eks.amazonaws.com_packagebundlecontrollers.yaml
  pkg/driver/helmdriver.go
  pkg/driver/mocks/packagedriver.go
  pkg/driver/packagedriver.go
  pkg/packages/manager.go
  pkg/packages/manager_test.go
Labels: lgtm, approved, size/M

#622 Fix installed package problem
  pkg/driver/helmdriver.go
  pkg/driver/helmdriver_test.go
Labels: lgtm, approved, size/XS

#651 Update adot in staging and prod bundles
  generatebundlefile/data/bundles_prod/1-20.yaml
  generatebundlefile/data/bundles_prod/1-21.yaml
  generatebundlefile/data/bundles_prod/1-22.yaml
  generatebundlefile/data/bundles_prod/1-23.yaml
  generatebundlefile/data/bundles_prod/1-24.yaml
  generatebundlefile/data/bundles_staging/1-20.yaml
  generatebundlefile/data/bundles_staging/1-21.yaml
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
Labels: lgtm, approved, size/S

#648 Adding emissary crd to dev bundle
  generatebundlefile/data/bundles_dev/1-21.yaml
  generatebundlefile/data/bundles_dev/1-22.yaml
  generatebundlefile/data/bundles_dev/1-23.yaml
  generatebundlefile/data/bundles_dev/1-24.yaml
  generatebundlefile/data/promote/emissary/promote.yaml
Labels: lgtm, approved, size/M

#653 Replacing registry for staging bundles
  generatebundlefile/data/bundles_staging/1-20.yaml
  generatebundlefile/data/bundles_staging/1-21.yaml
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
Labels: lgtm, approved, size/M

#599 Add spec copy to package and pbc status
  api/v1alpha1/package_types.go
  api/v1alpha1/packagebundlecontroller_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/eks-anywhere-packages/crds/crd.yaml
  config/crd/bases/packages.eks.amazonaws.com_packagebundlecontrollers.yaml
  config/crd/bases/packages.eks.amazonaws.com_packages.yaml
  pkg/bundle/manager.go
  pkg/packages/manager.go
Labels: lgtm, approved, size/L

#657 Fixing the bundle diff check removing unique metadata fields
  generatebundlefile/hack/common.sh
  generatebundlefile/hack/generate_bundle.sh
  generatebundlefile/hack/release_staging.sh
Labels: lgtm, approved, size/S

#655 Bring in Cobra and Viper
  Makefile
  cmd/root.go
  cmd/server.go
  go.mod
  go.sum
  main.go
Labels: lgtm, approved, size/XL

#661 Use the package-manager command everywhere
  Dockerfile
  charts/eks-anywhere-packages/templates/deployment.yaml
Labels: lgtm, approved, size/XS
