Repository aws/eks-anywhere-packages, pull requests merged in 2022-05, with the labels that each got.

#129 Add bundle client
  Makefile
  controllers/package_controller.go
  controllers/package_controller_test.go
  pkg/bundle/client.go
  pkg/bundle/mocks/client.go
Labels: lgtm, approved, size/L

#135 Update package bundle image
  api/testdata/bundle_one.yaml
  api/testdata/bundle_one.yaml.signed
Labels: lgtm, approved, size/XS

#143 Move BundleController validation to BundleController
  api/v1alpha1/packagebundlecontroller.go
  api/v1alpha1/packagebundlecontroller_test.go
  controllers/packagebundlecontroller_controller.go
  pkg/bundle/manager.go
Labels: lgtm, approved, size/M

#146 Clean up tests
  api/v1alpha1/packagebundlecontroller_test.go
Labels: lgtm, approved, size/XS

#148 Add a re-download functionality to Controller
  controllers/packagebundle_controller.go
  pkg/bundle/fake/manager.go
  pkg/bundle/manager.go
Labels: lgtm, approved, size/M

#149 Add a recreate bundle functionality to Controller
  controllers/packagebundle_controller.go
Labels: lgtm, approved, size/S

#150 Remove ActiveBundle method
  pkg/bundle/fake/manager.go
  pkg/bundle/manager.go
Labels: lgtm, approved, size/M

#152 Move GetActiveBundleNamespacedName to bundle client
  controllers/packagebundle_controller.go
  controllers/packagebundle_controller_test.go
  controllers/packagebundle_controller_watch_test.go
  pkg/bundle/client.go
  pkg/bundle/fake/manager.go
  pkg/bundle/manager.go
  pkg/bundle/mocks/client.go
Labels: lgtm, approved, size/M

#151 Rename abc vars to pbc
  controllers/packagebundlecontroller_controller.go
  controllers/packagebundlecontroller_controller_test.go
Labels: lgtm, approved, size/M

#155 No bundle in chart
  charts/eks-anywhere-packages/crds/crd.yaml
  charts/eks-anywhere-packages/templates/bundle_one.yaml
  charts/eks-anywhere-packages/templates/packagebundlecontroller.yaml
Labels: lgtm, approved, size/M

#147 removing Creationtimestamp from Bundle, Adding Signing to GenerateBundleFile.
  generatebundlefile/bundle.go
  generatebundlefile/bundle_test.go
  generatebundlefile/bundle_types.go
  generatebundlefile/data/input_120_local.yaml
  generatebundlefile/go.mod
  generatebundlefile/go.sum
  generatebundlefile/hack/generate_bundle.sh
  generatebundlefile/input.go
  generatebundlefile/main.go
  generatebundlefile/options.go
  pkg/signature/manifest.go
Labels: lgtm, approved, size/L

#156 Rename abc vars to pbc for manager.go
  pkg/bundle/manager.go
Labels: lgtm, approved, size/S

#157 Rename abc vars to pbc for client.go
  pkg/bundle/client.go
Labels: lgtm, approved, size/XS

#158 Rename ABC related vars to PBC for controller_test.go
  controllers/packagebundlecontroller_controller_test.go
Labels: lgtm, approved, size/S

#153 Restrict bundles to the eksa-packages namespace
  api/v1alpha1/packagebundlecontroller_webhook.go
  controllers/packagebundlecontroller_controller.go
Labels: lgtm, approved, size/XS

#159 Move IsActive to client
  controllers/packagebundle_controller.go
  controllers/packagebundle_controller_test.go
  pkg/bundle/client.go
  pkg/bundle/manager.go
  pkg/bundle/mocks/client.go
Labels: lgtm, approved, size/M

#160 ci fix for oras make
  generatebundlefile/hack/generate_bundle.sh
Labels: lgtm, approved, size/XS

#161 Fix active bundle handling
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
Labels: lgtm, approved, size/S

#154 Ignore other namespaces
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
Labels: lgtm, approved, size/M

#173 Add Disclaimer to README
  README.md
Labels: lgtm, approved, size/XS

#174 Update Disclaimer for README
  README.md
Labels: lgtm, approved, size/XS

#162 Disconnected
  controllers/packagebundlecontroller_controller.go
Labels: lgtm, approved, size/S

#171 Release code + scripts
  generatebundlefile/buildspecs/release-buildspec.yml
  generatebundlefile/bundle.go
  generatebundlefile/data/input_121_local.yaml
  generatebundlefile/data/input_121_prod.yaml
  generatebundlefile/ecr.go
  generatebundlefile/ecr_test.go
  generatebundlefile/go.mod
  generatebundlefile/go.sum
  generatebundlefile/hack/release.sh
  generatebundlefile/helm.go
  generatebundlefile/main.go
  generatebundlefile/options.go
  generatebundlefile/promote.go
Labels: lgtm, approved, size/XL

#176 Format README
  README.md
Labels: lgtm, approved, size/XS

#179 Update chart to use prod key
  charts/eks-anywhere-packages/values.yaml
Labels: lgtm, approved, size/XS

#181 Sort bundles numerically
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
Labels: lgtm, approved, size/S

#184 adding 1.22 bundles
  generatebundlefile/data/input_121_local.yaml
  generatebundlefile/data/input_122.yaml
  generatebundlefile/data/input_122_prod.yaml
  generatebundlefile/hack/generate_bundle.sh
  generatebundlefile/hack/release.sh
Labels: lgtm, approved, size/M

#186 Bumping memory of controller in helm chart
  charts/eks-anywhere-packages/values.yaml
Labels: lgtm, approved, size/XS

#188 Adding bundle to helm chart for active Bundle
  charts/eks-anywhere-packages/templates/packagebundle.yaml
  charts/eks-anywhere-packages/templates/packagebundlecontroller.yaml
Labels: lgtm, approved, size/S

#180 Update examples with latest from dev build
  api/testdata/bundle_one.yaml
  api/testdata/bundle_one.yaml.digest
  api/testdata/bundle_one.yaml.signed
  api/testdata/bundle_two.yaml
  api/testdata/bundle_two.yaml.digest
  api/testdata/bundle_two.yaml.signed
  api/testdata/harbor.yaml
  api/testdata/test.yaml
  pkg/bundle/manager_test.go
Labels: lgtm, approved, size/M

#189 prod tag fix
  generatebundlefile/ecr.go
  generatebundlefile/promote.go
Labels: lgtm, approved, size/XS

#190 Fix version badge
  README.md
Labels: lgtm, approved, size/XS

#207 Removing bundle in helm chart, tracking latest with current deployed
  charts/eks-anywhere-packages/templates/packagebundle.yaml
  charts/eks-anywhere-packages/templates/packagebundlecontroller.yaml
Labels: lgtm, approved, size/S

#208 Move IsActive method to client
  controllers/package_controller.go
  controllers/packagebundle_controller.go
  controllers/packagebundle_controller_test.go
  controllers/packagebundlecontroller_controller.go
  controllers/packagebundlecontroller_controller_test.go
  generatebundlefile/bundle.go
  generatebundlefile/main.go
  pkg/bundle/client.go
  pkg/bundle/fake/manager.go
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
  pkg/bundle/mocks/client.go
Labels: lgtm, approved, size/L

#212 Ensure that the output directory exists.
  generatebundlefile/Makefile
  generatebundlefile/hack/generate_bundle.sh
  generatebundlefile/hack/release.sh
Labels: lgtm, approved, size/XS

#213 Extract functions and use a loop to be DRYer.
  generatebundlefile/hack/generate_bundle.sh
Labels: lgtm, approved, size/M

#203 Add KubeVersion check to PackageBundle State
  api/v1alpha1/export_test.go
  api/v1alpha1/packagebundle.go
  api/v1alpha1/packagebundle_test.go
  controllers/packagebundle_controller.go
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
Labels: lgtm, approved, size/L

#211 Extract awsAuth function and use it in more places
  generatebundlefile/hack/common.sh
  generatebundlefile/hack/release.sh
Labels: lgtm, approved, size/M

#218 Extract AWS config
  generatebundlefile/bundle.go
  generatebundlefile/bundle_test.go
  generatebundlefile/ecr.go
  generatebundlefile/ecr_test.go
  generatebundlefile/go.mod
  generatebundlefile/go.sum
  generatebundlefile/input.go
  generatebundlefile/main.go
  generatebundlefile/promote.go
Labels: lgtm, approved, size/L

#220 Add junshun to owners
  OWNERS
Labels: lgtm, approved, size/XS

#215 Get image tags from files
  charts/image-tags/eks-anywhere-packages
  charts/image-tags/kube-rbac-proxy
  hack/helm.sh
Labels: lgtm, approved, size/XS

#219 Adding code coverage for pkg/bundle
  pkg/bundle/client_test.go
  pkg/bundle/manager_test.go
Labels: lgtm, approved, size/L
