Repository aws/eks-anywhere-packages, pull requests merged in 2022-03, with the labels that each got.

#26 Add harbor to bundles
  api/testdata/bundle_one.yaml
  api/testdata/bundle_two.yaml
  api/testdata/harbor.yaml
  pkg/bundle/manager_test.go
Labels: lgtm, approved

#29 Fix gopath for mockgen
  Makefile
Labels: lgtm, approved, size/S

#27 Updates bundle puller for new oras
  pkg/artifacts/registry.go
Labels: lgtm, approved, size/M

#30 Export sort function and use ServerVersion instead of Discovery
  pkg/bundle/manager.go
Labels: lgtm, approved, size/S

#32 Update golang builder to 1.17.
  Dockerfile
Labels: lgtm, approved, size/XS

#33 Include SortBundleNewestFirst on manager interface
  pkg/bundle/manager.go
Labels: lgtm, approved, size/XS

#36 update harbor package
  api/testdata/bundle_one.yaml
  api/testdata/bundle_two.yaml
Labels: lgtm, approved, size/XS

#37 Helmed
  charts/eks-anywhere-packages/.helmignore
  charts/eks-anywhere-packages/Chart.yaml
  charts/eks-anywhere-packages/README.md
  charts/eks-anywhere-packages/README.md.gotmpl
  charts/eks-anywhere-packages/templates/_helpers.tpl
  charts/eks-anywhere-packages/templates/deployment.yaml
  charts/eks-anywhere-packages/templates/namespace.yaml
Labels: lgtm, approved, size/M

#38 Update helm crds
  Makefile
  charts/eks-anywhere-packages/templates/crd.yaml
  hack/helm.sh
Labels: lgtm, approved, size/L

#39 Sign sample bundles
  api/testdata/bundle_one.yaml
  api/testdata/bundle_two.yaml
Labels: lgtm, approved, size/M

#41 These samples are old
  config/samples/packages_v1alpha1_packagebundlecontroller.yaml
  config/samples/packages_v1alpha1_packagecontroller.yaml
Labels: lgtm, approved, size/S

#42 update with real signatures
  api/testdata/bundle_one.yaml
  api/testdata/bundle_two.yaml
Labels: lgtm, approved, size/XS

#34 Add image list to bundle
  api/v1alpha1/packagebundle_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/packages.eks.amazonaws.com_packagebundles.yaml
Labels: lgtm, approved, size/M

#40 Update go.mod file
  go.mod
Labels: lgtm, approved, size/XS

#44 Update to helm 3.8.1
  go.mod
  go.sum
Labels: lgtm, approved, size/M

#46 Restore signature webhook config
  config/webhook/manifests.yaml
Labels: lgtm, approved, size/S

#48 Fix chart webhooks
  charts/eks-anywhere-packages/templates/service.yaml
Labels: lgtm, approved, size/XS

#49 Add a default packagebundlecontroller to the chart
  charts/eks-anywhere-packages/crds/crd.yaml
  charts/eks-anywhere-packages/templates/packagebundlecontroller.yaml
Labels: lgtm, approved, size/S

#50 Update crd and helm build
  charts/eks-anywhere-packages/crds/crd.yaml
  hack/helm.sh
Labels: lgtm, approved, size/M

#51 Add controller CRs to helm build
  Makefile
  README.md
  api/testdata/packagebundlecontroller.yaml
  api/v1alpha1/filereader_test.go
  charts/eks-anywhere-packages/templates/packagebundlecontroller.yaml
  charts/eks-anywhere-packages/templates/packagecontroller.yaml
  hack/helm.sh
Labels: lgtm, approved, size/S

#35 Generate + Sign bundle CI steps to accompany CDK changes
  Makefile
  generatebundlefile/Makefile
  generatebundlefile/buildspecs/buildspec.yml
  generatebundlefile/bundle_test.go
  generatebundlefile/data/input_120.yaml
  generatebundlefile/go.mod
  generatebundlefile/go.sum
  generatebundlefile/hack/pullpush.sh
  generatebundlefile/scripts/docker-ecr-config.json
  generatebundlefile/scripts/generate_bundle.sh
  generatebundlefile/scripts/setup.sh
Labels: lgtm, approved, size/XL

#54 Install by version and upgrade all on new releases
  api/v1alpha1/package_types.go
  api/v1alpha1/packagebundle.go
  api/v1alpha1/packagebundle_test.go
  config/crd/bases/packages.eks.amazonaws.com_packages.yaml
  controllers/package_controller.go
  controllers/package_controller_test.go
  pkg/driver/helmdriver.go
  pkg/packages/manager.go
Labels: approved, size/L

#56 Helm bugbash changes + Public key env var
  Makefile
  charts/eks-anywhere-packages/README.md
  charts/eks-anywhere-packages/templates/deployment.yaml
  charts/eks-anywhere-packages/templates/packagebundlecontroller.yaml
  charts/eks-anywhere-packages/values.yaml
Labels: lgtm, approved, size/M

#57 Use kustomize's output to generate CRDs for helm
  charts/eks-anywhere-packages/crds/crd.yaml
  hack/helm.sh
Labels: lgtm, approved, size/L

#59 Fix chart deployment ENABLE_WEBHOOK env var
  charts/eks-anywhere-packages/templates/deployment.yaml
Labels: lgtm, approved, size/XS

#60 Provide a terse error message for latest failure
  api/v1alpha1/packagebundlecontroller_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/packages.eks.amazonaws.com_packagebundlecontrollers.yaml
  controllers/packagebundlecontroller_controller.go
Labels: lgtm, approved, size/S

#55 Add helm chart configuration to bundle
  api/v1alpha1/packagebundle_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/packages.eks.amazonaws.com_packagebundles.yaml
Labels: lgtm, approved, size/M

#61 Add bundle one to helm chart for now
  charts/eks-anywhere-packages/templates/bundle_one.yaml
  hack/helm.sh
Labels: lgtm, approved, size/M

#63 TargetVersion can be omitted if empty
  api/v1alpha1/package_types.go
  config/crd/bases/packages.eks.amazonaws.com_packages.yaml
Labels: lgtm, approved, size/XS

#65 Removes helm chart installation prefix
  pkg/driver/helmdriver.go
  pkg/driver/helmdriver_test.go
Labels: lgtm, approved, size/M

#66 Ignore packages outside of package namespace
  pkg/packages/manager.go
  pkg/packages/manager_test.go
Labels: lgtm, approved, size/M

#64 Make package name case insensitive
  api/v1alpha1/packagebundle.go
Labels: lgtm, approved, size/XS

#68 State unknown and other CRD updates
  api/v1alpha1/package_types.go
  charts/eks-anywhere-packages/crds/crd.yaml
  config/crd/bases/packages.eks.amazonaws.com_packages.yaml
Labels: lgtm, approved, size/M

#69 Put sample packages in right namespace
  api/testdata/harbor.yaml
  api/testdata/test.yaml
Labels: lgtm, approved, size/XS

#70 Fix chart comments
  charts/eks-anywhere-packages/README.md
  charts/eks-anywhere-packages/values.yaml
Labels: lgtm, approved, size/XS

#71 Couple fixes for bug bash
  api/testdata/bundle_one.yaml
  api/testdata/bundle_one.yaml.digest
  api/testdata/bundle_one.yaml.signed
  api/testdata/harbor.yaml
  charts/eks-anywhere-packages/templates/bundle_one.yaml
  hack/helm.sh
Labels: lgtm, approved, size/S

#72 Use the dev public key for now
  charts/eks-anywhere-packages/values.yaml
Labels: lgtm, approved, size/XS

#76 Make container versions configurable
  .gitignore
  Makefile
  charts/.gitignore
  charts/eks-anywhere-packages/README.md
  charts/eks-anywhere-packages/values.yaml
  hack/helm.sh
Labels: lgtm, approved, size/M

#79 Fix go version used by golangci-lint.
  .github/workflows/golangci-lint.yml
Labels: lgtm, approved, size/XS
