Repository aws/eks-anywhere-packages, pull requests merged in 2022-08, with the labels that each got.

#314 Pbc upgrade available
  Makefile
  api/v1alpha1/packagebundlecontroller_types.go
  controllers/package_controller.go
  controllers/packagebundle_controller.go
  controllers/packagebundle_controller_test.go
  controllers/packagebundle_controller_watch_test.go
  controllers/packagebundlecontroller_controller.go
  controllers/packagebundlecontroller_controller_test.go
  pkg/bundle/client.go
  pkg/bundle/client_test.go
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
  pkg/bundle/mocks/client.go
  pkg/bundle/mocks/manager.go
  pkg/bundle/mocks/registry_client.go
  pkg/bundle/registry_client.go
  pkg/bundle/registry_client_test.go
Labels: lgtm, approved, size/XXL

#339 Remove bundle upgrade available
  api/v1alpha1/packagebundle.go
  api/v1alpha1/packagebundle_types.go
  controllers/packagebundle_controller_test.go
  pkg/bundle/client_test.go
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
  pkg/bundle/registry_client_test.go
Labels: lgtm, approved, size/L

#336 Private-bundle support
  generatebundlefile/bundle.go
  generatebundlefile/bundle_test.go
  generatebundlefile/data/input_local.yaml
  generatebundlefile/ecr.go
  generatebundlefile/ecr_helper.go
  generatebundlefile/ecr_public.go
  generatebundlefile/go.mod
  generatebundlefile/go.sum
  generatebundlefile/input.go
  generatebundlefile/main.go
Labels: lgtm, approved, size/L

#342 Remove unused struct from gen bundle
  generatebundlefile/bundle_types.go
Labels: lgtm, approved, size/XS

#344 Add tests for IsValidVersion
  api/v1alpha1/packagebundle_test.go
Labels: lgtm, approved, size/S

#343 Fix bundle states
  api/v1alpha1/packagebundle_types.go
  config/crd/bases/packages.eks.amazonaws.com_packagebundles.yaml
Labels: lgtm, approved, size/XS

#345 Fix the generate go.sum file
  generatebundlefile/go.sum
Labels: lgtm, approved, size/S

#337 Refactor validation
  api/testdata/package_webhook_bundle.yaml
  api/testdata/package_webhook_schema.json
  api/testdata/package_webhook_valid_config.yaml
  api/v1alpha1/packagebundle.go
  api/v1alpha1/packagebundle_test.go
  pkg/webhook/package_webhook.go
Labels: lgtm, approved, size/L

#347 Add digest and sign file for bundle
  api/testdata/package_webhook_bundle.yaml.digest
  api/testdata/package_webhook_bundle.yaml.signed
Labels: lgtm, approved, size/S

#349 Update CRDs for the helm chart.
  charts/eks-anywhere-packages/crds/crd.yaml
Labels: lgtm, approved, size/L

#350 Use generic invalid bundle state
  api/v1alpha1/packagebundle_types.go
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
Labels: lgtm, approved, size/S

#348 Move method out of generated code
  api/v1alpha1/packagebundlecontroller.go
  api/v1alpha1/packagebundlecontroller_test.go
  api/v1alpha1/packagebundlecontroller_types.go
  pkg/bundle/manager.go
Labels: lgtm, approved, size/S

#355 Fix error string for bundle client
  pkg/bundle/client.go
  pkg/bundle/client_test.go
Labels: lgtm, approved, size/XS

#352 Adding ecrtokenrefresher to gosec exclude dir
  .github/workflows/gosec.yml
Labels: lgtm, approved, size/XS

#356 Fix invalid version again
  api/v1alpha1/packagebundle_types.go
  charts/eks-anywhere-packages/crds/crd.yaml
  config/crd/bases/packages.eks.amazonaws.com_packagebundles.yaml
Labels: lgtm, approved, size/XS

#357 Remove OCR reference
  api/v1alpha1/packagebundlecontroller_types.go
  config/crd/bases/packages.eks.amazonaws.com_packagebundlecontrollers.yaml
Labels: lgtm, approved, size/XS

#358 Update API docs
  api/v1alpha1/package_types.go
  api/v1alpha1/packagebundle_types.go
  api/v1alpha1/packagebundlecontroller_types.go
  config/crd/bases/packages.eks.amazonaws.com_packagebundlecontrollers.yaml
  config/crd/bases/packages.eks.amazonaws.com_packagebundles.yaml
  config/crd/bases/packages.eks.amazonaws.com_packages.yaml
Labels: lgtm, approved, size/L

#362 Update Repository and UpgradeCheckShortInterval description
  api/v1alpha1/packagebundle_types.go
  config/crd/bases/packages.eks.amazonaws.com_packagebundlecontrollers.yaml
  config/crd/bases/packages.eks.amazonaws.com_packagebundles.yaml
Labels: lgtm, approved, size/S

#363 Add name validation to webhook
  api/v1alpha1/packagebundle_webhook.go
Labels: lgtm, approved, size/XS

#360 Update PackageOCISource
  api/v1alpha1/package_types.go
  api/v1alpha1/packagebundle.go
  config/crd/bases/packages.eks.amazonaws.com_packages.yaml
Labels: lgtm, approved, size/S

#364 Remove VersionConfigurations from bundle
  api/v1alpha1/packagebundle_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/packages.eks.amazonaws.com_packagebundles.yaml
Labels: lgtm, approved, size/M

#359 add helm/build target to match build tooling
  Makefile
Labels: lgtm, approved, size/XS

#318 ECR Token Refresh Application
  Makefile
  ecrtokenrefresher/.gitignore
  ecrtokenrefresher/Makefile
  ecrtokenrefresher/README.md
  ecrtokenrefresher/cmd/ecr-token-refresher/main.go
  ecrtokenrefresher/go.mod
  ecrtokenrefresher/go.sum
  ecrtokenrefresher/pkg/aws/aws.go
  ecrtokenrefresher/pkg/kubernetes/kubernetes.go
Labels: lgtm, approved, size/XXL

#354 Remove export test
  api/v1alpha1/export_test.go
  api/v1alpha1/packagebundle_test.go
Labels: lgtm, approved, size/L

#367 Use full path for setup-envtest
  Makefile
Labels: lgtm, approved, size/XS

#353 Private registry
  api/v1alpha1/packagebundlecontroller_types.go
  charts/eks-anywhere-packages/crds/crd.yaml
  config/crd/bases/packages.eks.amazonaws.com_packagebundlecontrollers.yaml
  pkg/bundle/client.go
  pkg/bundle/mocks/client.go
  pkg/packages/manager.go
  pkg/packages/manager_test.go
Labels: lgtm, approved, size/L

#368 Use default gated registry for installation
  pkg/packages/manager.go
  pkg/packages/manager_test.go
Labels: lgtm, approved, size/S

#369 generatebundlefile: Log errors and exit if appropriate.
  generatebundlefile/main.go
Labels: lgtm, approved, size/S

#370 generatebundlefile: Log errors and exit if appropriate part 2
  generatebundlefile/main.go
Labels: lgtm, approved, size/M

#371 Add default registries
  api/v1alpha1/packagebundlecontroller.go
  api/v1alpha1/packagebundlecontroller_types.go
  pkg/bundle/client.go
  pkg/bundle/client_test.go
  pkg/packages/manager.go
Labels: lgtm, approved, size/M

#373 Move file reader
  api/v1alpha1/filereader_test.go
  api/v1alpha1/testutil.go
  controllers/packagebundle_controller_watch_test.go
  generatebundlefile/ecr.go
  pkg/bundle/manager_test.go
  pkg/file/filereader.go
  pkg/file/filereader_test.go
  pkg/file/testutil.go
  pkg/signature/manifest_test.go
  pkg/testutil/signature.go
  pkg/webhook/webhook_suite_test.go
Labels: lgtm, approved, size/L

#372 Add default registry
  api/v1alpha1/packagebundle.go
  api/v1alpha1/packagebundlecontroller.go
  api/v1alpha1/packagebundlecontroller_test.go
  api/v1alpha1/packagebundlecontroller_types.go
  config/crd/bases/packages.eks.amazonaws.com_packagebundlecontrollers.yaml
  controllers/package_controller.go
  controllers/package_controller_test.go
  pkg/bundle/client_test.go
  pkg/bundle/manager.go
  pkg/driver/helmdriver.go
Labels: lgtm, approved, size/L

#376 Remove unused registry for bundle
  api/testdata/packagebundlecontroller.yaml
  api/v1alpha1/packagebundlecontroller.go
  api/v1alpha1/packagebundlecontroller_test.go
  api/v1alpha1/packagebundlecontroller_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/packages.eks.amazonaws.com_packagebundlecontrollers.yaml
  controllers/packagebundlecontroller_controller_test.go
  pkg/bundle/client_test.go
  pkg/packages/manager_test.go
Labels: lgtm, approved, size/M

#374 Active bundle matches k8s version
  api/v1alpha1/packagebundlecontroller_webhook.go
  main.go
  pkg/webhook/packagebundlecontroller_webhook.go
  pkg/webhook/packagebundlecontroller_webhook_test.go
Labels: lgtm, approved, size/L

#375 Fix some annoying lint issues
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/package_types.go
  api/v1alpha1/packagebundle_types.go
  api/v1alpha1/packagebundlecontroller_types.go
  pkg/signature/manifest.go
Labels: lgtm, approved, size/S

#377 Fixing function comment
  generatebundlefile/ecr_helper.go
Labels: lgtm, approved, size/XS

#378 Fixing build script
  generatebundlefile/hack/generate_bundle.sh
Labels: lgtm, approved, size/XS

#379 Update api descriptions
  api/v1alpha1/package_types.go
  api/v1alpha1/packagebundle_types.go
  api/v1alpha1/packagebundlecontroller_types.go
  charts/eks-anywhere-packages/crds/crd.yaml
  config/crd/bases/packages.eks.amazonaws.com_packagebundlecontrollers.yaml
  config/crd/bases/packages.eks.amazonaws.com_packagebundles.yaml
  config/crd/bases/packages.eks.amazonaws.com_packages.yaml
Labels: lgtm, approved, size/M

#382 Bugfix kube version
  pkg/bundle/registry_client.go
Labels: lgtm, approved, size/XS

#385 script fix for codebuild job
  generatebundlefile/hack/generate_bundle.sh
  generatebundlefile/hack/promote.sh
Labels: lgtm, approved, size/S

#386 Trying Fix for logic on release with private/public.
  generatebundlefile/main.go
  generatebundlefile/promote.go
Labels: lgtm, approved, size/M

#381 Allow any PBC name for remote management
  api/v1alpha1/packagebundle.go
  api/v1alpha1/packagebundlecontroller.go
  api/v1alpha1/packagebundlecontroller_test.go
  charts/eks-anywhere-packages/templates/packagebundlecontroller.yaml
  charts/eks-anywhere-packages/values.yaml
  controllers/packagebundlecontroller_controller_test.go
  pkg/bundle/client.go
  pkg/bundle/client_test.go
  pkg/bundle/mocks/client.go
Labels: lgtm, approved, size/L

#324 Updating helmchart to add template for ecr-refresh cronjob
  charts/eks-anywhere-packages/templates/configmap.yaml
  charts/eks-anywhere-packages/templates/cronjob.yaml
  charts/eks-anywhere-packages/values.yaml
Labels: lgtm, approved, size/M

#380 Asserts
  api/v1alpha1/package_test.go
  api/v1alpha1/packagebundle_test.go
  controllers/package_controller_test.go
  controllers/packagebundle_controller_test.go
  controllers/packagebundlecontroller_controller_test.go
  pkg/bundle/registry_client_test.go
  pkg/driver/helmdriver_test.go
  pkg/file/filereader_test.go
  pkg/packages/manager_test.go
Labels: lgtm, approved, size/L

#388 Another attempt at pipeline build job fixes
  generatebundlefile/promote.go
Labels: lgtm, approved, size/S

#389 Use assert.NoError
  api/v1alpha1/packagebundle_test.go
  controllers/package_controller_test.go
  controllers/packagebundlecontroller_controller_test.go
  pkg/authenticator/helmsecret_test.go
  pkg/bundle/client_test.go
  pkg/bundle/manager_test.go
  pkg/bundle/registry_client_test.go
  pkg/file/filereader_test.go
  pkg/signature/manifest_test.go
Labels: lgtm, approved, size/M

#390 Tag length check failing release script
  generatebundlefile/ecr_helper.go
Labels: lgtm, approved, size/XS

#393 Short term workaround for Emissary Hardcoded namespace
  charts/eks-anywhere-packages/templates/configmap.yaml
  ecrtokenrefresher/cmd/ecr-token-refresher/main.go
  ecrtokenrefresher/pkg/kubernetes/kubernetes.go
Labels: lgtm, approved, size/XS

#335 Adding ability for HelmDriver to pass in ImagePullSecrets to charts
  controllers/package_controller.go
  pkg/authenticator/authenticator.go
  pkg/authenticator/ecrsecret.go
  pkg/authenticator/ecrsecret_test.go
  pkg/authenticator/helmsecret.go
  pkg/authenticator/helmsecret_test.go
  pkg/csset/csset.go
  pkg/csset/csset_test.go
  pkg/driver/helmdriver.go
  pkg/driver/helmdriver_test.go
Labels: lgtm, approved, size/XL

#394 Fix for oras login
  generatebundlefile/hack/release.sh
Labels: lgtm, approved, size/XS

#395 Trying another release fix
  generatebundlefile/hack/release.sh
Labels: lgtm, approved, size/XS

#396 Trying another fix for release
  generatebundlefile/hack/release.sh
Labels: lgtm, approved, size/XS

#397 Trying another time to re-order the steps for Oras
  generatebundlefile/hack/docker-ecr-config.json
  generatebundlefile/hack/release.sh
Labels: lgtm, approved, size/XS

#398 generatebundlefile: update oras to 0.13.0.
  generatebundlefile/Makefile
  generatebundlefile/go.sum
  generatebundlefile/hack/common.sh
  generatebundlefile/hack/generate_bundle.sh
  generatebundlefile/hack/release.sh
Labels: lgtm, approved, size/S

#399 generatebundlefile: README TLC
  generatebundlefile/README.md
Labels: lgtm, approved, size/M

#402 Add default to defaultRegistry
  api/v1alpha1/packagebundlecontroller_types.go
  charts/eks-anywhere-packages/crds/crd.yaml
  charts/eks-anywhere-packages/templates/packagebundlecontroller.yaml
  config/crd/bases/packages.eks.amazonaws.com_packagebundlecontrollers.yaml
Labels: lgtm, approved, size/XS

#401 Fix kube version again
  api/v1alpha1/packagebundle.go
  api/v1alpha1/packagebundle_test.go
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
  pkg/bundle/registry_client.go
  pkg/webhook/packagebundlecontroller_webhook.go
  pkg/webhook/packagebundlecontroller_webhook_test.go
Labels: lgtm, approved, size/L

#403 Group version fix for RestAPI CoreV1
  controllers/package_controller.go
  pkg/csset/csset_test.go
Labels: lgtm, approved, size/S

#407 Update gating message
  README.md
  docs/README.md
Labels: documentation, lgtm, approved, size/XS

#406 The repository is defaulted but was required
  api/v1alpha1/packagebundlecontroller_types.go
  charts/eks-anywhere-packages/crds/crd.yaml
  config/crd/bases/packages.eks.amazonaws.com_packagebundlecontrollers.yaml
Labels: lgtm, approved, size/XS

#408 Downgrade oras version due to ECR bug.
  generatebundlefile/Makefile
  generatebundlefile/hack/common.sh
  generatebundlefile/hack/generate_bundle.sh
Labels: lgtm, approved, size/S

#405 Comply with higher level linting
  api/v1alpha1/packagebundle_types.go
  api/v1alpha1/packagebundle_webhook.go
  pkg/driver/helmdriver_test.go
Labels: lgtm, approved, size/XS

#409 generatebundlefile: More work to revert back to older oras
  generatebundlefile/hack/common.sh
  generatebundlefile/hack/generate_bundle.sh
Labels: lgtm, approved, size/M

#411 Change the name to eks-anywhere-packages-bundles
  api/v1alpha1/packagebundlecontroller_test.go
  api/v1alpha1/packagebundlecontroller_types.go
  charts/eks-anywhere-packages/crds/crd.yaml
  config/crd/bases/packages.eks.amazonaws.com_packagebundlecontrollers.yaml
  pkg/bundle/client_test.go
  pkg/bundle/manager_test.go
Labels: lgtm, approved, size/M

#410 Use default registry instead of default account for authorization token
  ecrtokenrefresher/pkg/aws/aws.go
Labels: lgtm, approved, size/XS

#400 generatebundlefile: break main into functions
  generatebundlefile/main.go
Labels: lgtm, approved, size/L

#413 Creating Secret in namespace via API instead of Helm Chart
  pkg/authenticator/authenticator.go
  pkg/authenticator/ecrsecret.go
  pkg/authenticator/ecrsecret_test.go
  pkg/driver/helmdriver.go
Labels: lgtm, approved, size/M

#412 Get cluster name from k8s
  pkg/bundle/client.go
  pkg/bundle/client_test.go
Labels: lgtm, approved, size/M

#414 Fix using namespace key instead of the value
  pkg/authenticator/ecrsecret.go
Labels: lgtm, approved, size/XS

#415 Fix issue where config was detected as change for imagePullSecrets
  pkg/driver/helmdriver.go
  pkg/driver/helmdriver_test.go
Labels: lgtm, approved, size/M

#416 Change short timer to 5m for webhook
  charts/eks-anywhere-packages/templates/packagebundlecontroller.yaml
Labels: lgtm, approved, size/XS

#417 Adding bundles for supported versions
  generatebundlefile/data/input_120.yaml
  generatebundlefile/data/input_120_prod.yaml
  generatebundlefile/data/input_123.yaml
  generatebundlefile/data/input_123_prod.yaml
  generatebundlefile/hack/generate_bundle.sh
  generatebundlefile/hack/release.sh
Labels: lgtm, approved, size/L

#419 More thorough make uninstall
  Makefile
Labels: lgtm, approved, size/XS

#421 Add pbc only if it does not exist
  charts/eks-anywhere-packages/templates/packagebundlecontroller.yaml
Labels: lgtm, approved, size/XS

#423 Switching to Warning Logger for Refresher when missing namespace
  ecrtokenrefresher/cmd/ecr-token-refresher/main.go
Labels: lgtm, approved, size/XS

#422 Reduce the time waiting for the webhook
  controllers/packagebundlecontroller_controller.go
Labels: lgtm, approved, size/XS

#424 Create secret on install
  Makefile
Labels: lgtm, approved, size/XS

#420 Add pbc shortName to crd
  api/v1alpha1/packagebundlecontroller_types.go
  charts/eks-anywhere-packages/crds/crd.yaml
  config/crd/bases/packages.eks.amazonaws.com_packagebundlecontrollers.yaml
Labels: lgtm, approved, size/XS

#431 Kubeversion fix when writing bundles
  generatebundlefile/.gitignore
  generatebundlefile/hack/release.sh
Labels: lgtm, approved, size/S

#428 package bundle controller: requeue quickly if webhook offline
  controllers/packagebundlecontroller_controller.go
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
Labels: lgtm, approved, size/M

#430 Cronjob needs v1beta1 for Kubernetes 1.20
  charts/eks-anywhere-packages/templates/cronjob.yaml
Labels: lgtm, approved, size/XS

#435 Update helm-docs location
  Makefile
  hack/helm.sh
Labels: lgtm, approved, size/XS

#432 Webhooks
  api/v1alpha1/package_types.go
  api/v1alpha1/packagebundlecontroller_types.go
  charts/eks-anywhere-packages/templates/webhook.yaml
  config/webhook/manifests.yaml
  pkg/webhook/packagebundlecontroller_webhook.go
  pkg/webhook/packagebundlecontroller_webhook_test.go
Labels: lgtm, approved, size/M

#404 Add crd-match-check
  Makefile
Labels: lgtm, approved, size/XS

#440 Defaulting region to us-west-2 and exit gracefully
  ecrtokenrefresher/cmd/ecr-token-refresher/main.go
  ecrtokenrefresher/pkg/aws/aws.go
Labels: lgtm, approved, size/S

#444 Use testify more
  api/v1alpha1/packagebundle_test.go
  controllers/packagebundlecontroller_controller_test.go
  pkg/driver/helmdriver_test.go
Labels: lgtm, approved, size/M

#442 Remove unused file
  pkg/testutil/fakediscovery.go
Labels: lgtm, approved, size/S

#445 Remove unused fake manager
  controllers/package_controller_test.go
  controllers/packagebundle_controller_watch_test.go
  pkg/bundle/fake/manager.go
Labels: lgtm, approved, size/M

#439 Change the default make target
  Makefile
Labels: lgtm, approved, size/XS

#441 Make test utils consistent
  controllers/packagebundle_controller_watch_test.go
  go.mod
  pkg/bundle/manager_test.go
  pkg/file/testutil.go
Labels: lgtm, approved, size/M

#446 Consolidate testutil
  controllers/packagebundle_controller_watch_test.go
  pkg/bundle/manager_test.go
  pkg/file/filereader_test.go
  pkg/signature/manifest_test.go
  pkg/testutil/given.go
  pkg/webhook/webhook_suite_test.go
Labels: lgtm, approved, size/M

#448 Add ADOT to bundle
  generatebundlefile/data/input_120.yaml
  generatebundlefile/data/input_121.yaml
  generatebundlefile/data/input_122.yaml
  generatebundlefile/data/input_123.yaml
Labels: lgtm, approved, size/M

#454 Generatebundle support long repos
  generatebundlefile/ecr_helper.go
  generatebundlefile/ecr_test.go
Labels: lgtm, approved, size/M
