Repository aws/eks-anywhere-packages, pull requests merged in 2022-06, with the labels that each got.

#225 Removing kube rbac proxy from helm chart
  charts/eks-anywhere-packages/templates/deployment.yaml
  charts/eks-anywhere-packages/templates/service.yaml
  charts/eks-anywhere-packages/values.yaml
  charts/image-tags/kube-rbac-proxy
  hack/helm.sh
Labels: lgtm, approved, size/M

#221 Fixing generatebundle ECR tests to work in prow/mocks
  generatebundlefile/bundle.go
  generatebundlefile/ecr.go
  generatebundlefile/ecr_test.go
  generatebundlefile/helm.go
  generatebundlefile/promote.go
Labels: lgtm, approved, size/L

#224 Attempt to soothe dependabot
  generatebundlefile/go.mod
  generatebundlefile/go.sum
  go.mod
  go.sum
  kubetest-plugins/go.mod
  kubetest-plugins/go.sum
Labels: lgtm, approved, size/S

#241 Containerd CVE
  generatebundlefile/go.mod
  generatebundlefile/go.sum
  go.mod
  go.sum
  kubetest-plugins/go.mod
  kubetest-plugins/go.sum
Labels: lgtm, approved, size/L

#242 Remove kubetest-plugin to reduce cve footprint
  kubetest-plugins/Makefile
  kubetest-plugins/cmd/kubetest2-eksa/deployer/deployer.go
  kubetest-plugins/cmd/kubetest2-eksa/main.go
  kubetest-plugins/cmd/kubetest2-tester-eksa/main.go
  kubetest-plugins/go.mod
  kubetest-plugins/go.sum
Labels: lgtm, approved, size/XXL

#244 Fixing ci oras commands
  generatebundlefile/hack/common.sh
  generatebundlefile/hack/generate_bundle.sh
Labels: lgtm, approved, size/M

#245 Fix results from staticcheck
  pkg/signature/manifest.go
  pkg/signature/manifest_test.go
Labels: lgtm, approved, size/S

#254 Remove a bunch of TODOs
  api/v1alpha1/packagebundle_webhook.go
  controllers/package_controller.go
  controllers/packagebundle_controller.go
  controllers/packagebundlecontroller_controller.go
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
  pkg/driver/helmdriver.go
Labels: lgtm, approved, size/XS

#256 Use registry from PackageBundleController
  api/v1alpha1/packagebundlecontroller_types.go
  pkg/bundle/client.go
  pkg/bundle/client_test.go
Labels: lgtm, approved, size/M

#247 Adding config, and images to bundle creation
  generatebundlefile/bundle_types.go
  generatebundlefile/ecr.go
  generatebundlefile/helm.go
  generatebundlefile/input.go
  generatebundlefile/main.go
Labels: lgtm, approved, size/L

#255 Make registry optional in bundle
  api/v1alpha1/packagebundle_types.go
  config/crd/bases/packages.eks.amazonaws.com_packagebundles.yaml
  generatebundlefile/bundle.go
  generatebundlefile/bundle_test.go
Labels: lgtm, approved, size/S

#257 Use get bundle list in manager
  controllers/packagebundle_controller.go
  controllers/packagebundle_controller_test.go
  pkg/bundle/fake/manager.go
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
  pkg/bundle/mocks/manager.go
Labels: lgtm, approved, size/L

#258 Re-ordering code for Gating functions to be added
  generatebundlefile/bundle.go
  generatebundlefile/bundle_types.go
  generatebundlefile/ecr.go
  generatebundlefile/ecr_helper.go
  generatebundlefile/ecr_public.go
Labels: lgtm, approved, size/XL

#239 Update setup env tests
  Makefile
Labels: lgtm, approved, size/S

#260 Add comment for SortBundlesDescending
  pkg/bundle/manager.go
Labels: lgtm, approved, size/XS

#262 Do not test the tests
  Makefile
Labels: lgtm, approved, size/XS

#265 Fixing pipeline removing registry from bundle output
  generatebundlefile/bundle.go
  generatebundlefile/main.go
Labels: lgtm, approved, size/XS

#266 Removing signature flag not used anymore
  generatebundlefile/main.go
  generatebundlefile/options.go
Labels: lgtm, approved, size/M

#268 Updating STS client connection
  generatebundlefile/sts.go
Labels: lgtm, approved, size/S

#272 Remove silly if statement
  controllers/packagebundlecontroller_controller.go
Labels: lgtm, approved, size/XS

#273 Add some logging to controller
  controllers/packagebundlecontroller_controller.go
Labels: lgtm, approved, size/S

#261 Move mock functions to top
  pkg/bundle/client_test.go
  pkg/bundle/manager_test.go
Labels: lgtm, approved, size/L

#263 Limit other lists to namespace
  controllers/package_controller.go
  controllers/packagebundle_controller.go
  controllers/packagebundle_controller_watch_test.go
Labels: lgtm, approved, size/S

#274 updating helm chart CRD
  charts/eks-anywhere-packages/crds/crd.yaml
Labels: lgtm, approved, size/L

#276 Updating scripts for command change
  generatebundlefile/buildspecs/release-buildspec.yml
  generatebundlefile/hack/release-public.sh
Labels: lgtm, approved, size/XS

#277 Add metallb to the bundle release
  generatebundlefile/data/input_121.yaml
  generatebundlefile/data/input_121_prod.yaml
  generatebundlefile/data/input_122.yaml
  generatebundlefile/data/input_122_prod.yaml
Labels: lgtm, approved, size/M

#280 Fixing release script
  generatebundlefile/hack/release-public.sh
Labels: lgtm, approved, size/M

#281 Fixing path on profile configfile
  generatebundlefile/hack/release-public.sh
Labels: lgtm, approved, size/XS

#282 Another tweak for release script
  generatebundlefile/hack/release-public.sh
Labels: lgtm, approved, size/XS

#251 Passing Registry Credentials to Helm Driver
  docs/README.md
  pkg/authenticator/authenticator.go
  pkg/authenticator/helmsecret.go
  pkg/authenticator/helmsecret_test.go
  pkg/driver/helmdriver.go
Labels: documentation, lgtm, approved, size/M

#286 Do not requeue ignored PBC
  controllers/packagebundlecontroller_controller.go
  pkg/bundle/manager_test.go
Labels: lgtm, approved, size/XS

#287 Parallel authentication tests conflict
  pkg/authenticator/helmsecret.go
  pkg/authenticator/helmsecret_test.go
Labels: lgtm, approved, size/XS

#291 Fix gofmt in Makefile
  Makefile
Labels: lgtm, approved, size/XS

#285 Remove kubetest from Makefile
  Makefile
Labels: lgtm, approved, size/M

#292 Fix some logs and spelling
  controllers/packagebundlecontroller_controller.go
  pkg/bundle/client_test.go
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
Labels: lgtm, approved, size/S

#293 Move const default
  controllers/packagebundlecontroller_controller.go
Labels: lgtm, approved, size/XS

#296 Generalize pbc logging
  controllers/packagebundlecontroller_controller.go
Labels: lgtm, approved, size/XS

#297 Add given method to create pbc for tests
  controllers/packagebundlecontroller_controller_test.go
Labels: lgtm, approved, size/M

#298 Add ignored version state to bundle
  api/v1alpha1/packagebundle_types.go
  config/crd/bases/packages.eks.amazonaws.com_packagebundles.yaml
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
Labels: lgtm, approved, size/S

#294 Remove PackageController CRD
  PROJECT
  api/testdata/packagecontroller.yaml
  api/v1alpha1/filereader_test.go
  api/v1alpha1/packagecontroller.go
  api/v1alpha1/packagecontroller_test.go
  api/v1alpha1/packagecontroller_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/eks-anywhere-packages/crds/crd.yaml
  charts/eks-anywhere-packages/templates/clusterrole.yaml
  charts/eks-anywhere-packages/templates/packagecontroller.yaml
  config/crd/bases/packages.eks.amazonaws.com_packagecontrollers.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_packagecontrollers.yaml
  config/crd/patches/webhook_in_packagecontrollers.yaml
  config/rbac/packagecontroller_editor_role.yaml
  config/rbac/packagecontroller_viewer_role.yaml
  config/rbac/role.yaml
  controllers/packagecontroller_controller.go
  docs/README.md
  main.go
Labels: documentation, lgtm, approved, size/XL
