Repository aws/eks-anywhere-packages, pull requests merged in 2022-09, with the labels that each got.

#456 Feature proxy setup
  charts/eks-anywhere-packages/templates/cronjob.yaml
  charts/eks-anywhere-packages/templates/deployment.yaml
  charts/eks-anywhere-packages/values.yaml
Labels: lgtm, approved, size/S

#460 Add upgrade available
  api/v1alpha1/packagebundlecontroller_types.go
  charts/eks-anywhere-packages/crds/crd.yaml
  config/crd/bases/packages.eks.amazonaws.com_packagebundlecontrollers.yaml
Labels: lgtm, approved, size/XS

#461 Bumping hello eks anywhere version
  generatebundlefile/data/input_120_prod.yaml
  generatebundlefile/data/input_121_prod.yaml
  generatebundlefile/data/input_122_prod.yaml
  generatebundlefile/data/input_123_prod.yaml
  generatebundlefile/data/input_release.yaml
Labels: lgtm, approved, size/S

#462 fixing image copy source file
  generatebundlefile/hack/release.sh
Labels: lgtm, approved, size/XS

#463 Temporary fix
  pkg/webhook/package_webhook.go
Labels: lgtm, approved, size/XS

#450 Create a release runbook
  release/README.md
Labels: lgtm, approved, size/S

#465 Clean up log name a bit
  controllers/package_controller.go
  controllers/packagebundle_controller.go
Labels: lgtm, approved, size/XS

#326 Add gci write to make fmt
  Makefile
Labels: lgtm, approved, size/S

#466 Make uninstall idempotent
  Makefile
Labels: lgtm, approved, size/XS

#467 Include permanent fix for package webhook
  pkg/webhook/package_webhook.go
Labels: lgtm, approved, size/S

#447 Use mock puller for consistency
  Makefile
  pkg/artifacts/mocks/puller.go
  pkg/bundle/registry_client_test.go
  pkg/testutil/mockpuller.go
Labels: lgtm, approved, size/L

#468 Specify the path for gci
  Makefile
Labels: lgtm, approved, size/XS

#472 Bumping emissary version
  generatebundlefile/data/input_120_prod.yaml
  generatebundlefile/data/input_121_prod.yaml
  generatebundlefile/data/input_122_prod.yaml
  generatebundlefile/data/input_123_prod.yaml
  generatebundlefile/data/input_release.yaml
Labels: lgtm, approved, size/S

#474 Limiting Helmdriver Upgrade History to address OOMKill
  pkg/driver/helmdriver.go
Labels: lgtm, approved, size/XS

#475 Include fix for workload cluster
  pkg/bundle/client.go
Labels: lgtm, approved, size/S

#471 Bumping resources for controller 50%
  charts/eks-anywhere-packages/values.yaml
  config/manager/manager.yaml
Labels: lgtm, approved, size/XS

#476 Remove order dependency from tests
  pkg/packages/manager_test.go
Labels: lgtm, approved, size/L

#469 Remote cluster management
  Makefile
  controllers/package_controller.go
  pkg/authenticator/kubeconfig.go
  pkg/authenticator/kubeconfig_test.go
  pkg/authenticator/mocks/kubeconfig.go
  pkg/driver/helmdriver.go
  pkg/driver/helmdriver_test.go
  pkg/driver/mocks/packagedriver.go
  pkg/driver/packagedriver.go
  pkg/packages/manager.go
  pkg/packages/manager_test.go
Labels: lgtm, approved, size/L

#477 Do no use kubeconfig for self
  charts/eks-anywhere-packages/templates/deployment.yaml
  pkg/packages/manager.go
Labels: lgtm, approved, size/S

#470 Named version for profile commands, and better docs
  generatebundlefile/.gitignore
  generatebundlefile/README.md
  generatebundlefile/ecr.go
  generatebundlefile/ecr_public.go
  generatebundlefile/main.go
  generatebundlefile/promote.go
Labels: lgtm, approved, size/L

#478 Add ADOT to input_release
  generatebundlefile/data/input_release.yaml
Labels: lgtm, approved, size/XS

#480 Code cleanup
  pkg/authenticator/kubeconfig.go
  pkg/packages/manager.go
Labels: lgtm, approved, size/S

#479 Better name for eksa-system namespace
  pkg/authenticator/kubeconfig.go
Labels: lgtm, approved, size/XS

#483 Comments from generate bundle changes
  generatebundlefile/README.md
  generatebundlefile/ecr.go
  generatebundlefile/ecr_public.go
Labels: lgtm, approved, size/S

#481 require.NoError
  pkg/driver/helmdriver_test.go
Labels: lgtm, approved, size/S

#301 Add remote management design document
  design/remote-management.md
Labels: lgtm, approved, size/M

#486 Bumping emissary version without requires config
  generatebundlefile/data/input_120_prod.yaml
  generatebundlefile/data/input_121_prod.yaml
  generatebundlefile/data/input_122_prod.yaml
  generatebundlefile/data/input_123_prod.yaml
  generatebundlefile/data/input_release.yaml
Labels: lgtm, approved, size/S

#489 Generate fmt fixes
  generatebundlefile/ecr.go
  generatebundlefile/ecr_public.go
Labels: lgtm, approved, size/XS

#488 Move sort into bundle list
  pkg/bundle/client.go
  pkg/bundle/client_test.go
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
  pkg/bundle/mocks/client.go
  pkg/bundle/mocks/manager.go
Labels: lgtm, approved, size/L

#490 Create cluster namespaces on reconcile
  pkg/bundle/client.go
  pkg/bundle/client_test.go
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
  pkg/bundle/mocks/client.go
Labels: lgtm, approved, size/L

#482 File handling for kubeconfig
  pkg/authenticator/kubeconfig.go
  pkg/authenticator/kubeconfig_test.go
Labels: lgtm, approved, size/XS

#485 Add cluster-autoscaler to dev packages bundle
  generatebundlefile/data/input_121.yaml
  generatebundlefile/data/input_122.yaml
  generatebundlefile/data/input_123.yaml
Labels: approved, size/S

#487 Rename kubeconfigClient to targetClusterClient
  Makefile
  controllers/package_controller.go
  pkg/authenticator/kubeconfig.go
  pkg/authenticator/kubeconfig_test.go
  pkg/authenticator/mocks/kubeconfig.go
  pkg/authenticator/mocks/target_cluster_client.go
  pkg/authenticator/target_cluster_client.go
  pkg/authenticator/target_cluster_client_test.go
  pkg/driver/helmdriver.go
  pkg/driver/helmdriver_test.go
Labels: lgtm, approved, size/L

#484 Design doc nits
  docs/design/remote-management.md
Labels: documentation, lgtm, approved, size/XS

#495 Update to go.18
  Makefile
  scripts/common.sh
Labels: lgtm, approved, size/XS

#496 Update ecrtoken refresher to 1.18
  ecrtokenrefresher/Makefile
  ecrtokenrefresher/cmd/ecr-token-refresher/main.go
Labels: lgtm, approved, size/XS

#500 Rename autoscaler->cluster-autoscaler
  generatebundlefile/data/input_121.yaml
  generatebundlefile/data/input_122.yaml
  generatebundlefile/data/input_123.yaml
Labels: lgtm, approved, size/XS

#499 Use K8s-Specific Cluster Autoscaler Versions
  generatebundlefile/data/input_121.yaml
  generatebundlefile/data/input_122.yaml
  generatebundlefile/data/input_123.yaml
Labels: lgtm, approved, size/XS

#494 Add discovery to target cluster client
  controllers/package_controller.go
  controllers/packagebundle_controller.go
  controllers/packagebundlecontroller_controller.go
  controllers/packagebundlecontroller_controller_test.go
  pkg/authenticator/mocks/target_cluster_client.go
  pkg/authenticator/target_cluster_client.go
  pkg/bundle/client.go
  pkg/bundle/client_test.go
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
  pkg/bundle/mocks/client.go
  pkg/webhook/packagebundlecontroller_webhook.go
  pkg/webhook/packagebundlecontroller_webhook_test.go
Labels: lgtm, approved, size/L

#502 Revert "Use K8s-Specific Cluster Autoscaler Versions"
  generatebundlefile/data/input_121.yaml
  generatebundlefile/data/input_122.yaml
  generatebundlefile/data/input_123.yaml
Labels: lgtm, approved, size/XS

#504 Switch logging from epoch to iso-8601 date format
  go.mod
  main.go
Labels: lgtm, approved, size/XS

#503 Handle get PBC and active bundle
  api/v1alpha1/package.go
  controllers/package_controller.go
  controllers/package_controller_test.go
  controllers/packagebundle_controller.go
  controllers/packagebundle_controller_test.go
  pkg/bundle/client.go
  pkg/bundle/client_test.go
  pkg/bundle/mocks/client.go
  pkg/packages/manager.go
  pkg/webhook/package_webhook.go
Labels: lgtm, approved, size/L
