Repository aws/eks-anywhere-packages, pull requests merged in 2022-07, with the labels that each got.

#304 Reactivate the package controller
  main.go
Labels: lgtm, approved, size/XS

#302 Ignore all packages outside of namespace
  controllers/package_controller.go
  controllers/package_controller_test.go
Labels: lgtm, approved, size/S

#303 Log bogus package name
  controllers/package_controller.go
  controllers/package_controller_test.go
Labels: lgtm, approved, size/XS

#308 Add state for invalid bundle name
  api/v1alpha1/packagebundle.go
  api/v1alpha1/packagebundle_test.go
  api/v1alpha1/packagebundle_types.go
  config/crd/bases/packages.eks.amazonaws.com_packagebundles.yaml
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
  pkg/bundle/mocks/manager.go
Labels: lgtm, approved, size/L

#309 Fix manager comments
  pkg/bundle/manager.go
  pkg/bundle/mocks/manager.go
Labels: lgtm, approved, size/S

#217 Remove default bundle from chart
  charts/eks-anywhere-packages/templates/packagebundlecontroller.yaml
  controllers/packagebundlecontroller_controller.go
  controllers/packagebundlecontroller_controller_test.go
Labels: lgtm, approved, size/L

#310 Reduce OWNERS footprint
  OWNERS
Labels: lgtm, approved, size/S

#312 Add active bundle to print
  api/v1alpha1/packagebundlecontroller_types.go
  config/crd/bases/packages.eks.amazonaws.com_packagebundlecontrollers.yaml
Labels: lgtm, approved, size/XS

#319 Fix error message in generate bundle
  generatebundlefile/main.go
Labels: lgtm, approved, size/XS

#316 Fix bundle login
  generatebundlefile/hack/common.sh
  generatebundlefile/hack/generate_bundle.sh
  generatebundlefile/hack/release-public.sh
Labels: lgtm, approved, size/M

#321 Various lint changes
  generatebundlefile/bundle_test.go
  generatebundlefile/ecr_helper.go
  generatebundlefile/ecr_public.go
  generatebundlefile/main.go
Labels: lgtm, approved, size/S

#323 Adding emissary to bundle input
  generatebundlefile/data/input_121.yaml
  generatebundlefile/data/input_121_prod.yaml
  generatebundlefile/data/input_122.yaml
  generatebundlefile/data/input_122_prod.yaml
Labels: lgtm, approved, size/S

#311 Feature config validation
  Makefile
  PROJECT
  api/testdata/package_webhook_bundle.yaml
  api/testdata/package_webhook_bundle_controller.yaml
  api/testdata/package_webhook_invalid_config.yaml
  api/testdata/package_webhook_invalid_type.yaml
  api/testdata/package_webhook_valid_config.yaml
  api/v1alpha1/filereader_test.go
  api/v1alpha1/webhook_suite_test.go
  config/webhook/manifests.yaml
  go.mod
  main.go
  pkg/webhook/package_webhook.go
Labels: lgtm, approved, size/L

#328 Removing go compat now we're on GO 1.17
  generatebundlefile/Makefile
Labels: lgtm, approved, size/XS
