Repository aws/eks-anywhere-packages, pull requests merged in 2022-10, with the labels that each got.

#501 Updating ecrtokenrefresher to support updating secret on workload clusters
  ecrtokenrefresher/cmd/ecr-token-refresher/main.go
  ecrtokenrefresher/go.mod
  ecrtokenrefresher/go.sum
  ecrtokenrefresher/pkg/kubernetes/kubernetes.go
  ecrtokenrefresher/pkg/kubernetes/kubernetes_test.go
Labels: lgtm, approved, size/L

#505 go 1.18
  ecrtokenrefresher/Makefile
  ecrtokenrefresher/go.mod
  generatebundlefile/Makefile
  generatebundlefile/go.mod
  generatebundlefile/go.sum
  go.mod
  go.sum
Labels: lgtm, approved, size/XL

#510 Update hello eks to 0.1.2
  generatebundlefile/data/input_120_prod.yaml
  generatebundlefile/data/input_121_prod.yaml
  generatebundlefile/data/input_122_prod.yaml
  generatebundlefile/data/input_123_prod.yaml
  generatebundlefile/data/input_release.yaml
Labels: lgtm, approved, size/S

#492 Move active bundle download
  api/v1alpha1/packagebundlecontroller.go
  api/v1alpha1/packagebundlecontroller_test.go
  controllers/packagebundle_controller.go
  pkg/bundle/client.go
  pkg/bundle/client_test.go
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
  pkg/bundle/mocks/client.go
Labels: lgtm, approved, size/L

#507 Rename receiver from kc to tcc
  pkg/authenticator/target_cluster_client.go
Labels: lgtm, approved, size/S

#508 Remove support for eksa-packages-bundle-controller PBC
  api/testdata/package_webhook_bundle_controller.yaml
  api/testdata/packagebundlecontroller.yaml
  api/v1alpha1/package.go
  api/v1alpha1/packagebundlecontroller.go
  api/v1alpha1/packagebundlecontroller_test.go
  charts/eks-anywhere-packages/values.yaml
  controllers/packagebundlecontroller_controller_test.go
  pkg/bundle/client_test.go
  pkg/bundle/manager_test.go
Labels: lgtm, approved, size/M

#514 Updating hello eks-anywhere to correct tag
  generatebundlefile/data/input_120_prod.yaml
  generatebundlefile/data/input_121_prod.yaml
  generatebundlefile/data/input_122_prod.yaml
  generatebundlefile/data/input_123_prod.yaml
  generatebundlefile/data/input_release.yaml
Labels: lgtm, approved, size/S

#515 Remove use of kubeconfig file
  pkg/authenticator/mocks/target_cluster_client.go
  pkg/authenticator/target_cluster_client.go
  pkg/authenticator/target_cluster_client_test.go
  pkg/driver/helmdriver.go
  pkg/driver/helmdriver_test.go
Labels: lgtm, approved, size/L

#513 Create Configmap in Manager for Remote Management
  pkg/authenticator/ecrsecret.go
  pkg/authenticator/ecrsecret_test.go
  pkg/bundle/client.go
  pkg/bundle/client_test.go
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
  pkg/bundle/mocks/client.go
Labels: lgtm, approved, size/L

#519 Adding promote option from file for cluster autoscaler
  generatebundlefile/README.md
  generatebundlefile/data/autoscaler/input_promote.yaml
  generatebundlefile/ecr.go
  generatebundlefile/go.sum
  generatebundlefile/main.go
  generatebundlefile/promote.go
Labels: lgtm, approved, size/L

#517 Update ECRSecret to target correct configmap when installing package.
  Makefile
  pkg/authenticator/authenticator.go
  pkg/authenticator/ecrsecret.go
  pkg/authenticator/ecrsecret_test.go
  pkg/authenticator/mocks/authenticator.go
  pkg/driver/helmdriver.go
  pkg/driver/helmdriver_test.go
Labels: lgtm, approved, size/L

#518 Create target namespace
  pkg/authenticator/mocks/target_cluster_client.go
  pkg/authenticator/target_cluster_client.go
  pkg/bundle/client_test.go
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
  pkg/driver/helmdriver_test.go
Labels: lgtm, approved, size/L

#522 Fix update available problem
  api/v1alpha1/packagebundle.go
  api/v1alpha1/packagebundle_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/bundle/client.go
  pkg/bundle/client_test.go
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
  pkg/bundle/mocks/client.go
Labels: lgtm, approved, size/L

#521 Trigger Job when installing packages before and after install.
  controllers/package_controller.go
  pkg/authenticator/ecrsecret.go
  pkg/authenticator/ecrsecret_test.go
  pkg/driver/helmdriver.go
Labels: lgtm, approved, size/L

#524 Promote latest regexp autoscaler
  generatebundlefile/data/autoscaler/input_promote.yaml
  generatebundlefile/ecr.go
  generatebundlefile/hack/promote.sh
  generatebundlefile/hack/pullpush.sh
Labels: lgtm, approved, size/M

#523 Active bundles
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
Labels: lgtm, approved, size/M

#525 Deprecate the old package namespace
  pkg/packages/manager.go
  pkg/packages/manager_test.go
Labels: lgtm, approved, size/S

#528 Update bundle release for adot
  generatebundlefile/data/input_release.yaml
Labels: lgtm, approved, size/XS

#530 Add metrics-server promotion file
  generatebundlefile/data/metrics-server/input_promote.yaml
Labels: lgtm, approved, size/M

#532 Add jonathanmeier5 to OWNERS
  OWNERS
Labels: lgtm, approved, size/XS

#533 Add metrics-server to Dev Bundle
  generatebundlefile/data/input_121.yaml
  generatebundlefile/data/input_122.yaml
  generatebundlefile/data/input_123.yaml
Labels: lgtm, approved, size/S

#449 e2e docs overview
  docs/testing/e2e-plan.md
Labels: documentation, lgtm, approved, size/M, do-not-merge/invalid-commit-message

#529 Add ADOT to prod bundle
  generatebundlefile/data/input_120_prod.yaml
  generatebundlefile/data/input_121_prod.yaml
  generatebundlefile/data/input_122_prod.yaml
  generatebundlefile/data/input_123_prod.yaml
Labels: lgtm, approved, size/S

#535 Remove extra go vet calls
  Makefile
Labels: lgtm, approved, size/S

#536 Feature cert manager changes
  api/v1alpha1/package.go
  pkg/webhook/package_webhook.go
Labels: lgtm, approved, size/S

#526 Add NewManagerContext method
  controllers/package_controller.go
  pkg/packages/manager.go
Labels: lgtm, approved, size/S

#537 Include workloadonly changes for bundle and add cert manager as a pac…
  generatebundlefile/bundle.go
  generatebundlefile/bundle_types.go
  generatebundlefile/data/input_120.yaml
  generatebundlefile/data/input_121.yaml
  generatebundlefile/data/input_122.yaml
  generatebundlefile/data/input_123.yaml
  generatebundlefile/input.go
Labels: lgtm, approved, size/M

#539 Add dev account support to ecr token refresher
  ecrtokenrefresher/cmd/ecr-token-refresher/main.go
  ecrtokenrefresher/pkg/aws/aws.go
  ecrtokenrefresher/pkg/kubernetes/kubernetes.go
  ecrtokenrefresher/pkg/kubernetes/kubernetes_test.go
Labels: lgtm, approved, size/M

#542 Change 1d to 24h
  api/v1alpha1/packagebundlecontroller_types.go
  charts/eks-anywhere-packages/crds/crd.yaml
  config/crd/bases/packages.eks.amazonaws.com_packagebundlecontrollers.yaml
Labels: lgtm, approved, size/XS

#534 Add support for package dependencies
  Makefile
  api/v1alpha1/package.go
  api/v1alpha1/package_types.go
  api/v1alpha1/packagebundle.go
  api/v1alpha1/packagebundle_test.go
  api/v1alpha1/packagebundle_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/eks-anywhere-packages/crds/crd.yaml
  config/crd/bases/packages.eks.amazonaws.com_packagebundles.yaml
  config/crd/bases/packages.eks.amazonaws.com_packages.yaml
  config/manager/kustomization.yaml
  controllers/package_controller.go
  pkg/packages/client.go
  pkg/packages/manager.go
  pkg/packages/manager_test.go
  pkg/packages/mocks/client.go
  pkg/utils/func.go
  pkg/webhook/package_webhook.go
Labels: lgtm, approved, size/XL

#548 Bump metrics-server Versions
  generatebundlefile/data/input_121.yaml
  generatebundlefile/data/input_122.yaml
  generatebundlefile/data/input_123.yaml
  generatebundlefile/data/metrics-server/input_promote.yaml
Labels: lgtm, approved, size/S

#544 Update readme
  docs/README.md
Labels: documentation, lgtm, approved, size/S

#551 Input promote file for metallb
  generatebundlefile/data/metallb/input_promote.yaml
Labels: lgtm, approved, size/S

#553 Fixing bundle gen dependencies field
  generatebundlefile/bundle_types.go
  generatebundlefile/main.go
Labels: lgtm, approved, size/XS

#556 Adding metallb crd to bundle
  generatebundlefile/data/input_120.yaml
  generatebundlefile/data/input_121.yaml
  generatebundlefile/data/input_122.yaml
  generatebundlefile/data/input_123.yaml
Labels: lgtm, approved, size/S

#558 Add default registries to helm chart
  charts/eks-anywhere-packages/templates/packagebundlecontroller.yaml
  charts/eks-anywhere-packages/values.yaml
Labels: lgtm, approved, size/XS

#559 Fix input files for metallb-crds
  generatebundlefile/data/input_120.yaml
  generatebundlefile/data/input_120_prod.yaml
  generatebundlefile/data/input_121.yaml
  generatebundlefile/data/input_121_prod.yaml
  generatebundlefile/data/input_122.yaml
  generatebundlefile/data/input_122_prod.yaml
  generatebundlefile/data/input_123.yaml
  generatebundlefile/data/input_123_prod.yaml
  generatebundlefile/data/input_release.yaml
Labels: lgtm, approved, size/M

#561 rename crds to metallb-crds
  generatebundlefile/data/input_120.yaml
  generatebundlefile/data/input_121.yaml
  generatebundlefile/data/input_122.yaml
  generatebundlefile/data/input_123.yaml
Labels: lgtm, approved, size/XS

#554 Remove empty strings from depends fields
  generatebundlefile/ecr_helper.go
  generatebundlefile/main.go
Labels: lgtm, approved, size/S

#562 Upgrade metallb to prod
  generatebundlefile/data/input_release.yaml
Labels: lgtm, approved, size/XS

#563 Fixing format for prod move
  generatebundlefile/data/input_release.yaml
Labels: lgtm, approved, size/XS

#567 Promote Newest 1.21.18 metrics-server Chart
  generatebundlefile/data/metrics-server/input_promote.yaml
Labels: lgtm, approved, size/XS

#568 Add autoscaler and metrics-server images
  generatebundlefile/data/input_release.yaml
Labels: lgtm, approved, size/S

#571 Update metrics-server and cluster-autoscaler helm chart tags
  generatebundlefile/data/input_release.yaml
Labels: lgtm, approved, size/S

#574 small tweaks for generatebundlefile
  generatebundlefile/ecr.go
  generatebundlefile/ecr_public.go
Labels: lgtm, approved, size/XS

#573 Remove -latest From CA & MS Tags
  generatebundlefile/data/input_release.yaml
Labels: lgtm, approved, size/XS

#578 Update to 5516 helm chart for image promo
  generatebundlefile/data/input_release.yaml
Labels: lgtm, approved, size/XS

#580 Add cert manager to prod bundle
  generatebundlefile/data/input_120_prod.yaml
  generatebundlefile/data/input_121_prod.yaml
  generatebundlefile/data/input_122_prod.yaml
  generatebundlefile/data/input_123_prod.yaml
Labels: lgtm, approved, size/M

#581 changing logic for public profile copy
  generatebundlefile/promote.go
Labels: lgtm, approved, size/S

#582 Upgrade metallb in prod
  generatebundlefile/data/input_120_prod.yaml
  generatebundlefile/data/input_121_prod.yaml
  generatebundlefile/data/input_122_prod.yaml
  generatebundlefile/data/input_123_prod.yaml
  generatebundlefile/data/input_release.yaml
Labels: lgtm, approved, size/M

#570 Add metrics-server Charts to Prod Bundle
  generatebundlefile/data/input_121_prod.yaml
  generatebundlefile/data/input_122_prod.yaml
  generatebundlefile/data/input_123_prod.yaml
Labels: lgtm, approved, size/S

#560 Add cluster-autoscaler to prod bundle
  generatebundlefile/data/input_121_prod.yaml
  generatebundlefile/data/input_122_prod.yaml
  generatebundlefile/data/input_123_prod.yaml
Labels: documentation, lgtm, approved, size/S

#584 Adding bundle support for 1.24
  generatebundlefile/data/input_124.yaml
  generatebundlefile/data/input_124_prod.yaml
  generatebundlefile/hack/generate_bundle.sh
  generatebundlefile/hack/release.sh
Labels: lgtm, approved, size/L

#569 Fix update available detail
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
Labels: lgtm, approved, size/M

#575 Update to gci v0.8.0
  Makefile
Labels: lgtm, approved, size/XS

#587 File name changes for organization, and staging release pipeline
  generatebundlefile/buildspecs/release-prod-buildspec.yml
  generatebundlefile/buildspecs/release-staging-buildspec.yml
  generatebundlefile/data/bundles_dev/1-20.yaml
  generatebundlefile/data/bundles_dev/1-21.yaml
  generatebundlefile/data/bundles_dev/1-22.yaml
  generatebundlefile/data/bundles_dev/1-23..yaml
  generatebundlefile/data/bundles_dev/1-24.yaml
  generatebundlefile/data/bundles_prod/1-20.yaml
  generatebundlefile/data/bundles_prod/1-21.yaml
  generatebundlefile/data/bundles_prod/1-22.yaml
  generatebundlefile/data/bundles_prod/1-23.yaml
  generatebundlefile/data/bundles_prod/1-24.yaml
  generatebundlefile/data/bundles_staging/1-20.yaml
  generatebundlefile/data/bundles_staging/1-21.yaml
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/prod_artifact_move.yaml
  generatebundlefile/data/promote/autoscaler/promote.yaml
  generatebundlefile/data/promote/metallb/promote.yaml
  generatebundlefile/data/promote/metrics-server/promote.yaml
  generatebundlefile/data/staging_artifact_move.yaml
  generatebundlefile/hack/release_prod.sh
  generatebundlefile/hack/release_staging.sh
Labels: lgtm, approved, size/XL

#588 Fix for new dev bundle location
  generatebundlefile/hack/generate_bundle.sh
  generatebundlefile/hack/release_prod.sh
  generatebundlefile/hack/release_staging.sh
Labels: approved, size/S

#547 Remove webhook suite test
  Makefile
  api/testdata/bundle_one.yaml
  api/testdata/bundle_one.yaml.digest
  api/testdata/bundle_one.yaml.signed
  api/testdata/package_webhook_bundle.yaml
  api/testdata/package_webhook_bundle.yaml.digest
  api/testdata/package_webhook_bundle.yaml.signed
  api/testdata/package_webhook_bundle_controller.yaml
  api/testdata/package_webhook_invalid_config.yaml
  api/testdata/package_webhook_invalid_type.yaml
  api/testdata/package_webhook_valid_config.yaml
  api/testdata/packagebundlecontroller.yaml
  api/testdata/prod_bundle.yaml.signed
  api/testdata/test.yaml
  api/v1alpha1/packagebundle_webhook.go
  pkg/bundle/registry_client_test.go
  pkg/webhook/package_webhook_test.go
  pkg/webhook/packagebundle_test.go
  pkg/webhook/webhook_suite_test.go
Labels: lgtm, approved, size/XL

#589 Clear public key environment var
  pkg/webhook/packagebundle_test.go
Labels: lgtm, approved, size/XS

#590 another typo in naming
  generatebundlefile/data/bundles_dev/1-23.yaml
Labels: lgtm, approved, size/XS

#593 Update generate go.sum file for 18.6
  generatebundlefile/go.sum
Labels: lgtm, approved, size/L

#594 Remove setup-envtest from make
  Makefile
Labels: lgtm, approved, size/XS

#596 Rename webhook init method to be more consistent
  main.go
  pkg/webhook/packagebundlecontroller_webhook.go
Labels: lgtm, approved, size/XS

#597 Remove deep copy from bundle
  pkg/bundle/manager.go
Labels: lgtm, approved, size/XS
