Repository aws/eks-anywhere-packages, pull requests merged in 2022-04, with the labels that each got.

#80 Create terminal state for package errors
  pkg/packages/manager.go
  pkg/packages/manager_test.go
Labels: lgtm, approved, size/S

#77 Only delete packages for CRs in the namespace
  controllers/package_controller.go
Labels: lgtm, approved, size/XS

#81 Add kustomize dependency on helm-build
  Makefile
  charts/eks-anywhere-packages/crds/crd.yaml
Labels: lgtm, approved, size/XL

#85 Add crd back to helm chart
  charts/eks-anywhere-packages/crds/crd.yaml
Labels: lgtm, approved, size/XL

#92 Fix test.yaml file
  api/testdata/test.yaml
Labels: lgtm, approved, size/XS

#91 Set source registry based on helm chart location
  pkg/packages/manager.go
Labels: lgtm, approved, size/XS

#93 Change the default sourceRegistry to prod
  charts/eks-anywhere-packages/values.yaml
Labels: lgtm, approved, size/XS

#94 Add ivyostosh to owners
  OWNERS
Labels: lgtm, approved, size/XS

#97 Add binyamz to owners
  OWNERS
Labels: lgtm, approved, size/XS

#98 Increase resources limit on controller
  config/manager/manager.yaml
Labels: lgtm, approved, size/XS

#101 Promote additions to generatebundlefile tool
  .gitignore
  charts/eks-anywhere-packages/values.yaml
  generatebundlefile/Makefile
  generatebundlefile/buildspecs/buildspec.yml
  generatebundlefile/bundle.go
  generatebundlefile/bundle_test.go
  generatebundlefile/bundle_types.go
  generatebundlefile/data/input_120.yaml
  generatebundlefile/ecr.go
  generatebundlefile/ecr_test.go
  generatebundlefile/go.mod
  generatebundlefile/go.sum
  generatebundlefile/hack/docker-ecr-config.json
  generatebundlefile/hack/generate_bundle.sh
  generatebundlefile/hack/policy.json
  generatebundlefile/hack/promote.sh
  generatebundlefile/hack/pullpush.sh
  generatebundlefile/hack/setup.sh
  generatebundlefile/helm.go
  generatebundlefile/main.go
  generatebundlefile/options.go
  generatebundlefile/sts.go
  go.mod
  go.sum
Labels: lgtm, approved, size/XXL

#111 Add gosec github action
  .github/workflows/gosec.yml
  Makefile
  generatebundlefile/filewriter.go
  generatebundlefile/input.go
  kubetest-plugins/cmd/kubetest2-eksa/deployer/deployer.go
  pkg/testutil/mockpuller.go
  pkg/testutil/signature.go
Labels: lgtm, approved, size/M

#115 Add .igntore director to ignore like eks-anywhere
  .gitignore
Labels: lgtm, approved, size/XS

#116 Cosign fix, bundle update
  generatebundlefile/data/input_120.yaml
  generatebundlefile/hack/generate_bundle.sh
Labels: lgtm, approved, size/S

#102 Apply config changes to existing packages
  go.mod
  go.sum
  pkg/driver/helmdriver.go
  pkg/driver/helmdriver_test.go
  pkg/driver/mocks/packagedriver.go
  pkg/driver/packagedriver.go
  pkg/packages/manager.go
  pkg/packages/manager_test.go
Labels: lgtm, approved, size/L

#117 Adding incremental build #'s to the bundle, and bumping version.
  generatebundlefile/data/input_121.yaml
  generatebundlefile/hack/generate_bundle.sh
Labels: lgtm, approved, size/S

#104 Remove references to eks-anywhere-test
  api/testdata/bundle_one.yaml
  api/testdata/bundle_one.yaml.digest
  api/testdata/bundle_one.yaml.signed
  api/testdata/bundle_two.yaml
  api/testdata/bundle_two.yaml.digest
  api/testdata/bundle_two.yaml.signed
  api/v1alpha1/packagebundle_test.go
  controllers/package_controller_test.go
  generatebundlefile/bundle_test.go
  generatebundlefile/data/input_120.yaml
  generatebundlefile/ecr_test.go
  generatebundlefile/go.mod
  generatebundlefile/go.sum
  generatebundlefile/hack/pullpush.sh
  pkg/packages/manager_test.go
  pkg/signature/testdata/packagebundle_valid.yaml
  pkg/signature/testdata/packagebundle_valid.yaml.signed
Labels: lgtm, approved, size/M

#119 v1 ginkgo is deprecated
  api/v1alpha1/webhook_suite_test.go
  go.mod
  go.sum
Labels: lgtm, approved, size/S

#121 Move package namespace to api
  api/v1alpha1/package.go
  api/v1alpha1/packagebundle.go
  api/v1alpha1/webhook_suite_test.go
  controllers/package_controller.go
  controllers/packagebundle_controller_test.go
  controllers/packagebundlecontroller_controller_test.go
  generatebundlefile/bundle.go
  pkg/bundle/manager.go
  pkg/packages/manager.go
Labels: lgtm, approved, size/M

#122 Remove print from bundle manager
  pkg/bundle/manager.go
Labels: lgtm, approved, size/S

#124 Changing bundle filename, and matching name of bundle tag
  generatebundlefile/bundle.go
  generatebundlefile/input.go
Labels: lgtm, approved, size/S

#125 Fixing bundle script new name, and adding latest Tag to Bundle.
  generatebundlefile/hack/generate_bundle.sh
Labels: lgtm, approved, size/XS

#130 Fix the bundle repository name
  api/testdata/packagebundlecontroller.yaml
  charts/eks-anywhere-packages/templates/packagebundlecontroller.yaml
Labels: lgtm, approved, size/XS

#132 Fix signing script
  pkg/signature/testdata/sign_file.sh
Labels: lgtm, approved, size/S

#131 Fix lint error for generate
  generatebundlefile/ecr.go
Labels: lgtm, approved, size/XS

#133 Remove kubeversion from bundle
  api/testdata/bundle_one.yaml
  api/testdata/bundle_one.yaml.digest
  api/testdata/bundle_one.yaml.signed
  api/testdata/bundle_two.yaml
  api/testdata/bundle_two.yaml.digest
  api/testdata/bundle_two.yaml.signed
  api/v1alpha1/packagebundle_types.go
  charts/eks-anywhere-packages/templates/bundle_one.yaml
  config/crd/bases/packages.eks.amazonaws.com_packagebundles.yaml
  generatebundlefile/bundle.go
  generatebundlefile/bundle_test.go
  generatebundlefile/input.go
  pkg/signature/testdata/packagebundle_valid.yaml
  pkg/signature/testdata/packagebundle_valid.yaml.digest
  pkg/signature/testdata/packagebundle_valid.yaml.signed
  pkg/signature/testdata/pod_valid.yaml.signed
Labels: lgtm, approved, size/M

#134 Update install workflow to support Go v1.18
  Makefile
Labels: lgtm, approved, size/XS

#140 Add ignored state to bundle
  api/v1alpha1/packagebundle_types.go
  config/crd/bases/packages.eks.amazonaws.com_packagebundles.yaml
Labels: lgtm, approved, size/XS

#141 Create DownloadBundle method
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
Labels: lgtm, approved, size/M

#144 Remove empty status from Bundle struct.
  generatebundlefile/bundle.go
  generatebundlefile/bundle_types.go
  generatebundlefile/input.go
Labels: lgtm, approved, size/L
