Repository aws/eks-anywhere-packages, pull requests merged in 2022-12, with the labels that each got.

#664 Bundle diff check prod pipeline
  generatebundlefile/hack/release_prod.sh
Labels: lgtm, approved, size/S

#663 Adding emissary-crds to staging
  generatebundlefile/data/bundles_staging/1-21.yaml
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/M

#666 Move prometheus to stagingBundle
  generatebundlefile/data/bundles_staging/1-21.yaml
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/M

#670 Moving common used functions out to common.sh to reduce code
  generatebundlefile/hack/common.sh
  generatebundlefile/hack/generate_bundle.sh
  generatebundlefile/hack/release_prod.sh
  generatebundlefile/hack/release_staging.sh
Labels: lgtm, approved, size/L

#672 Fix to use the correct env var in release pipelines on region check
  generatebundlefile/main.go
Labels: lgtm, approved, size/S

#673 Re-enabling region support for token refresher
  ecrtokenrefresher/pkg/aws/aws.go
Labels: lgtm, approved, size/S

#674 Moving region check call to correct spot
  generatebundlefile/hack/release_staging.sh
Labels: lgtm, approved, size/XS

#675 Update ADOT package version in staging and prod bundle
  generatebundlefile/data/bundles_prod/1-20.yaml
  generatebundlefile/data/bundles_prod/1-21.yaml
  generatebundlefile/data/bundles_prod/1-22.yaml
  generatebundlefile/data/bundles_prod/1-23.yaml
  generatebundlefile/data/bundles_prod/1-24.yaml
  generatebundlefile/data/bundles_staging/1-20.yaml
  generatebundlefile/data/bundles_staging/1-21.yaml
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/prod_artifact_move.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/S

#676 Bump metallb to 0.13.7
  generatebundlefile/data/promote/metallb/promote.yaml
Labels: lgtm, approved, size/XS

#679 Bump metallb to 0.13.7 in prod
  generatebundlefile/data/bundles_prod/1-20.yaml
  generatebundlefile/data/bundles_prod/1-21.yaml
  generatebundlefile/data/bundles_prod/1-22.yaml
  generatebundlefile/data/bundles_prod/1-23.yaml
  generatebundlefile/data/bundles_prod/1-24.yaml
  generatebundlefile/data/bundles_staging/1-20.yaml
  generatebundlefile/data/bundles_staging/1-21.yaml
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
Labels: lgtm, approved, size/M

#680 Bump metallb for staging
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/XS

#681 Getting correct image tags into prod accounts for bundles
  generatebundlefile/data/prod_artifact_move.yaml
Labels: lgtm, approved, size/S

#682 Bumping prod bundle number by 110
  generatebundlefile/hack/release_prod.sh
Labels: lgtm, approved, size/XS

#686 Adding emissary crd and bumping emissary version prod
  generatebundlefile/data/bundles_prod/1-21.yaml
  generatebundlefile/data/bundles_prod/1-22.yaml
  generatebundlefile/data/bundles_prod/1-23.yaml
  generatebundlefile/data/bundles_prod/1-24.yaml
Labels: lgtm, approved, size/S

#688 removing 1.20 support
  generatebundlefile/data/bundles_dev/1-20.yaml
  generatebundlefile/data/bundles_prod/1-20.yaml
  generatebundlefile/data/bundles_staging/1-20.yaml
  generatebundlefile/hack/release_staging.sh
Labels: lgtm, approved, size/L

#691 Region check updates for dashboard
  generatebundlefile/ecr_helper.go
  generatebundlefile/go.mod
  generatebundlefile/go.sum
  generatebundlefile/hack/release_staging.sh
  generatebundlefile/main.go
  generatebundlefile/region.go
Labels: lgtm, approved, size/L

#692 Remove unused error from NewHelm
  controllers/package_controller.go
  pkg/driver/helmdriver.go
  pkg/driver/helmdriver_test.go
Labels: lgtm, approved, size/S

#693 Adding k8s version to cloudwatch metrics
  generatebundlefile/main.go
  generatebundlefile/region.go
Labels: lgtm, approved, size/M

#694 Update controller-gen and kustomize version
  Makefile
  charts/eks-anywhere-packages/crds/crd.yaml
  config/crd/bases/packages.eks.amazonaws.com_packagebundlecontrollers.yaml
  config/crd/bases/packages.eks.amazonaws.com_packagebundles.yaml
  config/crd/bases/packages.eks.amazonaws.com_packages.yaml
  config/rbac/role.yaml
Labels: lgtm, approved, size/M

#696 Updating helm chart to newer version
  generatebundlefile/data/bundles_staging/1-21.yaml
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/S

#698 Update prometheus version in staging/prod packageBundle
  generatebundlefile/data/bundles_prod/1-21.yaml
  generatebundlefile/data/bundles_prod/1-22.yaml
  generatebundlefile/data/bundles_prod/1-23.yaml
  generatebundlefile/data/bundles_prod/1-24.yaml
  generatebundlefile/data/bundles_staging/1-21.yaml
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/prod_artifact_move.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/S

#695 Make targetNamespace immutable
  pkg/webhook/package_webhook.go
  pkg/webhook/package_webhook_test.go
Labels: lgtm, approved, size/M

#699 Do not generate deepcopy for generate bundle file
  generatebundlefile/bundle_types.go
Labels: lgtm, approved, size/XS

#704 Updating harbor prod version for all regions
  generatebundlefile/data/bundles_prod/1-21.yaml
  generatebundlefile/data/bundles_prod/1-22.yaml
  generatebundlefile/data/bundles_prod/1-23.yaml
  generatebundlefile/data/bundles_prod/1-24.yaml
  generatebundlefile/data/prod_artifact_move.yaml
Labels: lgtm, approved, size/S

#700 Remove unused scaffolding markers
  cmd/server.go
Labels: lgtm, approved, size/XS

#703 Rename bundle client to manager client
  controllers/package_controller.go
  controllers/packagebundle_controller.go
  controllers/packagebundlecontroller_controller.go
  pkg/bundle/client.go
  pkg/bundle/client_test.go
  pkg/webhook/package_webhook.go
  pkg/webhook/packagebundle_webhook.go
Labels: lgtm, approved, size/M

#705 Use go generate for mockgen
  Makefile
  controllers/packagebundlecontroller_controller.go
  pkg/artifacts/mocks/puller.go
  pkg/artifacts/puller.go
  pkg/authenticator/authenticator.go
  pkg/authenticator/mocks/authenticator.go
  pkg/authenticator/mocks/target_cluster_client.go
  pkg/authenticator/target_cluster_client.go
  pkg/bundle/client.go
  pkg/bundle/manager.go
  pkg/bundle/mocks/client.go
  pkg/bundle/mocks/manager.go
  pkg/bundle/mocks/registry_client.go
  pkg/bundle/registry_client.go
  pkg/driver/mocks/packagedriver.go
  pkg/driver/packagedriver.go
  pkg/packages/client.go
  pkg/packages/manager.go
  pkg/packages/mocks/client.go
  pkg/packages/mocks/manager.go
Labels: lgtm, approved, size/M

#702 Fix comments and various things for generatebundle
  generatebundlefile/Makefile
  generatebundlefile/bundle.go
  generatebundlefile/bundle_test.go
  generatebundlefile/bundle_types.go
  generatebundlefile/go.mod
  generatebundlefile/go.sum
Labels: lgtm, approved, size/M
