Repository aws/eks-anywhere-packages, pull requests merged in 2023-05, with the labels that each got.

#930 Update to go 1.20
  .github/workflows/golangci-lint.yml
  Makefile
  credentialproviderpackage/go.mod
  ecrtokenrefresher/go.mod
  generatebundlefile/Makefile
  generatebundlefile/go.mod
  go.mod
  scripts/common.sh
Labels: lgtm, approved, size/M

#932 Add k1.27 support in dev
  generatebundlefile/data/bundles_dev/1-27.yaml
  generatebundlefile/data/promote/autoscaler/promote.yaml
  generatebundlefile/data/promote/metrics-server/promote.yaml
  generatebundlefile/hack/generate_bundle.sh
Labels: lgtm, approved, size/L

#933 Update credential vs cronjob semverCompare logic
  charts/eks-anywhere-packages/templates/_helpers.tpl
Labels: lgtm, approved, size/XS

#936 Fix metrics-server promote logic
  generatebundlefile/data/promote/metrics-server/promote.yaml
Labels: lgtm, approved, size/S

#937 Update cert-manager version
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
Labels: lgtm, approved, size/S

#938 Update cert-manager version
  generatebundlefile/data/bundles_prod/1-22.yaml
  generatebundlefile/data/bundles_prod/1-23.yaml
  generatebundlefile/data/bundles_prod/1-24.yaml
  generatebundlefile/data/bundles_prod/1-25.yaml
  generatebundlefile/data/bundles_prod/1-26.yaml
  generatebundlefile/data/prod_artifact_move.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/S

#939 Updating emissary to 3.6.0 dev bundle
  generatebundlefile/data/promote/emissary/promote.yaml
Labels: lgtm, approved, size/XS
