Repository aws/eks-anywhere-packages, pull requests merged in 2023-12, with the labels that each got.

#1033 Skip bundle generating when promote flag is on
  generatebundlefile/main.go
Labels: approved, size/XS

#1035 Fix aws profile
  generatebundlefile/hack/common.sh
Labels: approved, size/XS

#1037 Bump harbor version in staging regional ECR
  generatebundlefile/data/bundles_staging/1-24-regional.yaml
  generatebundlefile/data/bundles_staging/1-25-regional.yaml
  generatebundlefile/data/bundles_staging/1-26-regional.yaml
  generatebundlefile/data/bundles_staging/1-27-regional.yaml
  generatebundlefile/data/bundles_staging/1-28-regional.yaml
  generatebundlefile/data/staging_artifact_move-regional.yaml
Labels: lgtm, approved, size/S

#1038 Bump harbor version in staging
  generatebundlefile/data/bundles_staging/1-24-regional.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25-regional.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26-regional.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/bundles_staging/1-27-regional.yaml
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/bundles_staging/1-28-regional.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/staging_artifact_move-regional.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/S

#1039 Bump harbor version in prod
  generatebundlefile/data/bundles_prod/1-24-regional.yaml
  generatebundlefile/data/bundles_prod/1-24.yaml
  generatebundlefile/data/bundles_prod/1-25-regional.yaml
  generatebundlefile/data/bundles_prod/1-25.yaml
  generatebundlefile/data/bundles_prod/1-26-regional.yaml
  generatebundlefile/data/bundles_prod/1-26.yaml
  generatebundlefile/data/bundles_prod/1-27-regional.yaml
  generatebundlefile/data/bundles_prod/1-27.yaml
  generatebundlefile/data/bundles_prod/1-28-regional.yaml
  generatebundlefile/data/bundles_prod/1-28.yaml
  generatebundlefile/data/prod_artifact_move-regional.yaml
  generatebundlefile/data/prod_artifact_move.yaml
Labels: lgtm, approved, size/S

#1040 Add Tiltfile
  README.md
  Tiltfile
  tilt/deployment.yaml
Labels: lgtm, approved, size/L
