Repository aws/eks-anywhere-packages, pull requests merged in 2023-02, with the labels that each got.

#795 Bumping ADOT tag to actual one in repo
  generatebundlefile/data/bundles_prod/1-21.yaml
  generatebundlefile/data/bundles_prod/1-22.yaml
  generatebundlefile/data/bundles_prod/1-23.yaml
  generatebundlefile/data/bundles_prod/1-24.yaml
  generatebundlefile/data/bundles_staging/1-21.yaml
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/prod_artifact_move.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/S

#796 Allow metrics-server To Auto Update in Dev Bundle
  generatebundlefile/data/bundles_dev/1-21.yaml
  generatebundlefile/data/bundles_dev/1-22.yaml
  generatebundlefile/data/bundles_dev/1-23.yaml
  generatebundlefile/data/bundles_dev/1-24.yaml
  generatebundlefile/data/bundles_dev/1-25.yaml
Labels: lgtm, approved, size/S

#800 Bumping cluster autoscaler tag
  generatebundlefile/data/bundles_prod/1-21.yaml
  generatebundlefile/data/bundles_prod/1-22.yaml
  generatebundlefile/data/bundles_prod/1-23.yaml
  generatebundlefile/data/bundles_prod/1-24.yaml
  generatebundlefile/data/bundles_staging/1-21.yaml
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/prod_artifact_move.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/M

#801 Update Prometheus version in prod / staging bundle
  generatebundlefile/data/bundles_prod/1-21.yaml
  generatebundlefile/data/bundles_prod/1-22.yaml
  generatebundlefile/data/bundles_prod/1-23.yaml
  generatebundlefile/data/bundles_prod/1-24.yaml
  generatebundlefile/data/bundles_staging/1-21.yaml
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/prod_artifact_move.yaml
  generatebundlefile/data/staging_artifact_move.yaml
  pkg/registry/testdata/package-bundle.yaml
Labels: lgtm, approved, size/S

#792 Allow each workload cluster to have its own registry mirror secret
  charts/eks-anywhere-packages/templates/awssecret.yaml
  charts/eks-anywhere-packages/templates/cronjob.yaml
  charts/eks-anywhere-packages/templates/deployment.yaml
  charts/eks-anywhere-packages/templates/registrymirrorsecret.yaml
  charts/eks-anywhere-packages/values.yaml
  ecrtokenrefresher/cmd/ecr-token-refresher/main.go
  ecrtokenrefresher/pkg/constants/constants.go
  ecrtokenrefresher/pkg/secrets/aws/aws.go
  ecrtokenrefresher/pkg/secrets/common/common.go
  ecrtokenrefresher/pkg/secrets/common/common_test.go
  ecrtokenrefresher/pkg/secrets/registrymirror/registrymirror.go
  ecrtokenrefresher/pkg/secrets/secret.go
Labels: lgtm, approved, size/L

#771 Add tag to bundle images
  api/testdata/bundle_one.yaml
  api/testdata/bundle_one.yaml.digest
  api/testdata/bundle_one.yaml.signed
  api/v1alpha1/packagebundle_types.go
  charts/eks-anywhere-packages/crds/crd.yaml
  config/crd/bases/packages.eks.amazonaws.com_packagebundles.yaml
  pkg/signature/manifest.go
  pkg/signature/testdata/excludes
Labels: lgtm, approved, size/M

#787 Support cluster specific ca.crt and insecure
  charts/eks-anywhere-packages/templates/deployment.yaml
  pkg/artifacts/registry.go
  pkg/driver/helmdriver.go
  pkg/registry/certificates.go
  pkg/registry/credentials.go
Labels: lgtm, approved, size/M

#803 Remove unused configmap
  charts/eks-anywhere-packages/templates/configmap.yaml
  charts/eks-anywhere-packages/values.yaml
Labels: lgtm, approved, size/S

#804 Revert "Add tag to bundle images"
  api/testdata/bundle_one.yaml
  api/testdata/bundle_one.yaml.digest
  api/testdata/bundle_one.yaml.signed
  api/v1alpha1/packagebundle_types.go
  charts/eks-anywhere-packages/crds/crd.yaml
  config/crd/bases/packages.eks.amazonaws.com_packagebundles.yaml
  pkg/signature/manifest.go
  pkg/signature/testdata/excludes
Labels: lgtm, approved, size/M

#809 Add a new chart (eks-anywhere-packages-crds)
  charts/eks-anywhere-packages-crds/.helmignore
  charts/eks-anywhere-packages-crds/Chart.yaml
  charts/eks-anywhere-packages-crds/README.md.gotmpl
  charts/eks-anywhere-packages-crds/templates/crd.yaml
  hack/helm.sh
Labels: lgtm, approved, size/XL

#813 Fixing nil pointer err on accountID for dev images
  generatebundlefile/promote.go
Labels: lgtm, approved, size/S

#814 Adding required changes for 1.25 bundles
  generatebundlefile/data/bundles_prod/1-25.yaml
  generatebundlefile/data/prod_artifact_move.yaml
  generatebundlefile/hack/generate_bundle.sh
  generatebundlefile/hack/release_prod.sh
  generatebundlefile/hack/release_staging.sh
Labels: lgtm, approved, size/M

#812 Registry mirror fix
  charts/eks-anywhere-packages/templates/packagebundlecontroller.yaml
  ecrtokenrefresher/cmd/ecr-token-refresher/main.go
  ecrtokenrefresher/pkg/secrets/registrymirror/registrymirror.go
  pkg/artifacts/mocks/puller.go
  pkg/artifacts/puller.go
  pkg/artifacts/registry.go
  pkg/bundle/client.go
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
  pkg/bundle/mocks/registry_client.go
  pkg/bundle/registry_client.go
  pkg/bundle/registry_client_test.go
  pkg/driver/helmdriver.go
  pkg/registry/certificates.go
Labels: lgtm, approved, size/L

#816 Upgrade metallb base image
  generatebundlefile/data/bundles_staging/1-21.yaml
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/prod_artifact_move.yaml
Labels: lgtm, approved, size/S

#817 Fix when new version bundle doesn't exist yet
  generatebundlefile/hack/common.sh
Labels: lgtm, approved, size/XS

#819 Adding new tag to staging artifact mv
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/XS

#821 Fixing typo from source AccountID function
  generatebundlefile/promote.go
Labels: lgtm, approved, size/XS

#822 Bumping metallb in prod tag
  generatebundlefile/data/bundles_prod/1-21.yaml
  generatebundlefile/data/bundles_prod/1-22.yaml
  generatebundlefile/data/bundles_prod/1-23.yaml
  generatebundlefile/data/bundles_prod/1-24.yaml
  generatebundlefile/data/bundles_prod/1-25.yaml
Labels: lgtm, approved, size/S

#823 Adding packages to staging artifact move file
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/XS

#827 Fixing typo to use helm tag no images tag.
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/XS

#828 Using private ECR tag not public
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/XS

#830 Moving to dev tag for packages image move
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/XS

#833 Allow eksa-controller-manager to remove package bundle controllers
  charts/eks-anywhere-packages/templates/role.yaml
  charts/eks-anywhere-packages/templates/rolebinding.yaml
Labels: lgtm, approved, size/M

#832 Go 1.19
  Makefile
  ecrtokenrefresher/Makefile
  ecrtokenrefresher/go.mod
  generatebundlefile/Makefile
  generatebundlefile/go.mod
  go.mod
  scripts/common.sh
Labels: lgtm, approved, size/S

#841 Bump k8s.io/client-go version
  ecrtokenrefresher/go.mod
  ecrtokenrefresher/go.sum
Labels: lgtm, approved, size/L

#835 Create packages namespaces via helm
  charts/eks-anywhere-packages/templates/namespace.yaml
  pkg/bundle/client.go
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
  pkg/bundle/mocks/client.go
Labels: lgtm, approved, size/M

#836 Add link to helm pr we are waiting on
  go.mod
Labels: lgtm, approved, size/XS

#842 Add more compatibility cases for helm chart namespace
  charts/eks-anywhere-packages/templates/namespace.yaml
Labels: lgtm, approved, size/M

#838 Docker distribution
  generatebundlefile/go.mod
  generatebundlefile/go.sum
  go.mod
  go.sum
Labels: lgtm, approved, size/S
