Repository aws/eks-anywhere-packages, pull requests merged in 2023-09, with the labels that each got.

#973 Add 1-28 Dev Bundle Support
  generatebundlefile/data/bundles_dev/1-28.yaml
Labels: lgtm, approved, size/L

#979 Fixup: return nil when registry is not ECR
  pkg/registry/ecr_cred_injector.go
Labels: approved, size/XS

#980 Add 1 28 dev support
  generatebundlefile/data/promote/autoscaler/promote.yaml
  generatebundlefile/data/promote/metrics-server/promote.yaml
  generatebundlefile/hack/generate_bundle.sh
Labels: lgtm, approved, size/S

#981 fix aws-secret path
  pkg/registry/ecr_cred_injector.go
Labels: approved, size/XS

#982 Allow reconciler retry downloading bundle
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
Labels: lgtm, approved, size/XS

#987 Update 1.28 package bundles
  generatebundlefile/data/bundles_prod/1-28.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/prod_artifact_move.yaml
  generatebundlefile/data/staging_artifact_move.yaml
  generatebundlefile/hack/release_prod.sh
  generatebundlefile/hack/release_staging.sh
Labels: lgtm, approved, size/L

#988 Decrease wait time when pulling bundle failed
  charts/eks-anywhere-packages/templates/packagebundlecontroller.yaml
Labels: lgtm, approved, size/XS

#989 Fix Kubelet Args for 1.28
  OWNERS
  credentialproviderpackage/pkg/configurator/linux/linux.go
Labels: lgtm, approved, size/XS

#991 Fix 1.28 Prod Image Tags
  generatebundlefile/data/bundles_prod/1-28.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/prod_artifact_move.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/S
