Repository aws/eks-anywhere-packages, pull requests merged in 2023-11, with the labels that each got.

#1023 Stop promotion of Kubernetes v1.22 and v1.23 related artifacts
  generatebundlefile/data/promote/autoscaler/promote.yaml
  generatebundlefile/data/promote/metrics-server/promote.yaml
Labels: lgtm, approved, size/S

#1025 Add regional prod artifact move and input files
  generatebundlefile/data/bundles_prod/1-24-regional.yaml
  generatebundlefile/data/bundles_prod/1-25-regional.yaml
  generatebundlefile/data/bundles_prod/1-26-regional.yaml
  generatebundlefile/data/bundles_prod/1-27-regional.yaml
  generatebundlefile/data/bundles_prod/1-28-regional.yaml
  generatebundlefile/data/prod_artifact_move-regional.yaml
  generatebundlefile/hack/release_prod.sh
Labels: lgtm, approved, size/XL

#1026 Update staging bundle
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/M

#1027 Fix condition for running promote operation
  generatebundlefile/main.go
Labels: lgtm, approved, size/XS

#1028 Stop flow after promotion in case of non-regional build mode
  generatebundlefile/main.go
Labels: lgtm, approved, size/XS

#1029 Update eksa package controller in prod
  generatebundlefile/data/bundles_prod/1-24.yaml
  generatebundlefile/data/bundles_prod/1-25.yaml
  generatebundlefile/data/bundles_prod/1-26.yaml
  generatebundlefile/data/bundles_prod/1-27.yaml
  generatebundlefile/data/bundles_prod/1-28.yaml
  generatebundlefile/data/prod_artifact_move.yaml
Labels: lgtm, approved, size/L

#1031 fixup! Fix empty AWS Profile issueg
  generatebundlefile/hack/common.sh
Labels: lgtm, approved, size/XS

#1032 Fix codebuild promo-bundle-aws-eks-anywhere-packages
  generatebundlefile/hack/promote.sh
  generatebundlefile/main.go
Labels: lgtm, approved, size/S
