Repository aws/eks-anywhere-packages, pull requests merged in 2023-01, with the labels that each got.

#708 Add to test coverage and IsOldNamespace method
  api/v1alpha1/package.go
  api/v1alpha1/package_test.go
Labels: lgtm, approved, size/M

#709 Remove this odd watch test
  controllers/packagebundle_controller_test.go
  controllers/packagebundle_controller_watch_test.go
Labels: lgtm, approved, size/M

#706 Merge package client with manager client
  controllers/package_controller.go
  controllers/package_controller_test.go
  pkg/bundle/client.go
  pkg/bundle/mocks/client.go
  pkg/packages/client.go
  pkg/packages/manager.go
  pkg/packages/manager_test.go
  pkg/packages/mocks/client.go
Labels: lgtm, approved, size/L

#725 Add secrets
  charts/eks-anywhere-packages/templates/awssecret.yaml
  charts/eks-anywhere-packages/templates/cronjob.yaml
  charts/eks-anywhere-packages/templates/registrymirrorsecret.yaml
  charts/eks-anywhere-packages/values.yaml
Labels: lgtm, approved, size/M

#728 Add credentials class to registry
  generatebundlefile/go.mod
  generatebundlefile/go.sum
  go.mod
  go.sum
  pkg/registry/credentials.go
  pkg/registry/credentials_test.go
  pkg/registry/testdata/config.json
  pkg/registry/testdata/empty/config.json
  pkg/registry/testdata/harbor.eksa.demo.crt
Labels: lgtm, approved, size/L

#734 Fixes file name
  generatebundlefile/data/bundles_dev/1-25.yaml
Labels: lgtm, approved, size/XS

#731 Add the rest of the registry components
  go.mod
  pkg/registry/artifact.go
  pkg/registry/artifact_test.go
  pkg/registry/client.go
  pkg/registry/client_test.go
  pkg/registry/mocks/repository.go
  pkg/registry/mocks/storage.go
  pkg/registry/storage.go
Labels: lgtm, approved, size/XL

#738 Adding 1.25 staging bundle, and updating promote files for cluster au…
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/promote/autoscaler/promote.yaml
  generatebundlefile/data/promote/metrics-server/promote.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/L

#739 Modifying staging bundles to use newer versions of cluster-autoscaler…
  generatebundlefile/data/bundles_staging/1-21.yaml
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/M

#737 Code sync for CLI
  pkg/registry/certificates.go
  pkg/registry/client_test.go
  pkg/registry/credentials_test.go
  pkg/registry/storage.go
Labels: lgtm, approved, size/M

#743 Allowing tags to contain latest in the middle and still work
  generatebundlefile/bundle_test.go
  generatebundlefile/ecr.go
  generatebundlefile/ecr_public.go
Labels: lgtm, approved, size/S

#736 Adding registry mirror secrets to all namespaces
  charts/eks-anywhere-packages/templates/deployment.yaml
  charts/eks-anywhere-packages/templates/job.yaml
  ecrtokenrefresher/cmd/ecr-token-refresher/main.go
  ecrtokenrefresher/pkg/aws/aws.go
  ecrtokenrefresher/pkg/constants/constants.go
  ecrtokenrefresher/pkg/kubernetes/kubernetes.go
  ecrtokenrefresher/pkg/kubernetes/kubernetes_test.go
  ecrtokenrefresher/pkg/secrets/aws/aws.go
  ecrtokenrefresher/pkg/secrets/common/common.go
  ecrtokenrefresher/pkg/secrets/common/common_test.go
  ecrtokenrefresher/pkg/secrets/registrymirror/registrymirror.go
  ecrtokenrefresher/pkg/secrets/secret.go
  ecrtokenrefresher/pkg/utils/utils.go
Labels: lgtm, approved, size/XXL

#745 Update helm chart for CA or cert file handling
  charts/eks-anywhere-packages/templates/registrymirrorsecret.yaml
  charts/eks-anywhere-packages/values.yaml
Labels: lgtm, approved, size/XS

#746 Reduce path for controller-gen
  Makefile
Labels: lgtm, approved, size/XS

#749 Authentication for helm driver
  charts/eks-anywhere-packages/templates/deployment.yaml
  charts/eks-anywhere-packages/values.yaml
  ecrtokenrefresher/pkg/kubernetes/kubernetes.go
  ecrtokenrefresher/pkg/secrets/aws/aws.go
  ecrtokenrefresher/pkg/secrets/common/common.go
  ecrtokenrefresher/pkg/secrets/common/common_test.go
  ecrtokenrefresher/pkg/secrets/registrymirror/registrymirror.go
  pkg/authenticator/ecrsecret.go
Labels: lgtm, approved, size/M

#750 Add option for insecure registry
  charts/eks-anywhere-packages/templates/registrymirrorsecret.yaml
  charts/eks-anywhere-packages/values.yaml
Labels: lgtm, approved, size/XS

#740 Bring over the pull function
  controllers/package_controller.go
  controllers/packagebundle_controller.go
  controllers/packagebundlecontroller_controller.go
  go.mod
  pkg/artifacts/registry.go
  pkg/registry/artifact.go
  pkg/registry/client.go
  pkg/registry/client_test.go
  pkg/registry/credentials.go
  pkg/registry/mocks/storage.go
  pkg/registry/pull.go
  pkg/registry/pull_test.go
  pkg/registry/storage.go
  pkg/registry/testdata/bad-image-manifest.json
  pkg/registry/testdata/image-manifest.json
  pkg/registry/testdata/no-layer-image-manifest.json
  pkg/registry/testdata/package-bundle.yaml
Labels: lgtm, approved, size/XL

#752 Change path to ca.crt
  pkg/artifacts/registry.go
Labels: lgtm, approved, size/XS

#753 update charts
  charts/eks-anywhere-packages/templates/deployment.yaml
  charts/eks-anywhere-packages/values.yaml
Labels: lgtm, approved, size/XS

#754 Fix bundle pulling
  pkg/artifacts/registry.go
Labels: lgtm, approved, size/XS

#755 Removes inaccurate comment.
  pkg/artifacts/registry.go
Labels: lgtm, approved, size/XS

#756 Rework SetURI into ParseArtifactFromURI
  pkg/artifacts/registry.go
  pkg/registry/artifact.go
  pkg/registry/artifact_test.go
Labels: lgtm, approved, size/M

#747 Feature helm ca trust
  charts/eks-anywhere-packages/templates/deployment.yaml
  generatebundlefile/go.mod
  generatebundlefile/go.sum
  go.mod
  go.sum
  pkg/driver/helmdriver.go
  pkg/driver/helmdriver_test.go
Labels: lgtm, approved, size/L

#757 Lift configfile
  pkg/artifacts/registry.go
  pkg/registry/client_test.go
  pkg/registry/credentials.go
  pkg/registry/credentials_test.go
  pkg/registry/storage.go
Labels: lgtm, approved, size/L

#759 Fix bug
  ecrtokenrefresher/pkg/secrets/aws/aws.go
  ecrtokenrefresher/pkg/secrets/common/common.go
  ecrtokenrefresher/pkg/secrets/common/common_test.go
  ecrtokenrefresher/pkg/secrets/registrymirror/registrymirror.go
Labels: lgtm, approved, size/S

#760 Make pbc deployment wait for the first run of cron job
  charts/eks-anywhere-packages/templates/deployment.yaml
  charts/eks-anywhere-packages/templates/job.yaml
Labels: lgtm, approved, size/L

#761 Revert
  pkg/artifacts/registry.go
  pkg/registry/client_test.go
  pkg/registry/credentials.go
  pkg/registry/credentials_test.go
  pkg/registry/storage.go
Labels: lgtm, approved, size/L

#764 Revert "Revert (#761)"
  pkg/artifacts/registry.go
  pkg/registry/client_test.go
  pkg/registry/credentials.go
  pkg/registry/credentials_test.go
  pkg/registry/storage.go
Labels: lgtm, approved, size/L

#758 Lift registry
  pkg/artifacts/registry.go
  pkg/registry/client.go
  pkg/registry/client_test.go
  pkg/registry/mocks/storage.go
  pkg/registry/storage.go
Labels: lgtm, approved, size/L

#766 Add tag option for package controller dev promote pipeline
  generatebundlefile/ecr_helper.go
  generatebundlefile/hack/promote.sh
  generatebundlefile/main.go
  generatebundlefile/options.go
  generatebundlefile/promote.go
Labels: lgtm, approved, size/M

#779 Remove production test covered by e2e
  pkg/webhook/packagebundle_webhook_test.go
Labels: lgtm, approved, size/XS

#781 Fix controller service targetPort
  charts/eks-anywhere-packages/templates/service.yaml
Labels: lgtm, approved, size/XS

#782 Adding copy images flag when using promote tag for package controller
  generatebundlefile/hack/promote.sh
Labels: lgtm, approved, size/XS

#778 Add workloadOnly field to helm chart
  charts/eks-anywhere-packages/templates/awssecret.yaml
  charts/eks-anywhere-packages/templates/certs.yaml
  charts/eks-anywhere-packages/templates/clusterrole.yaml
  charts/eks-anywhere-packages/templates/clusterrolebinding.yaml
  charts/eks-anywhere-packages/templates/configmap.yaml
  charts/eks-anywhere-packages/templates/cronjob.yaml
  charts/eks-anywhere-packages/templates/deployment.yaml
  charts/eks-anywhere-packages/templates/namespace.yaml
  charts/eks-anywhere-packages/templates/packagebundlecontroller.yaml
  charts/eks-anywhere-packages/templates/registrymirrorsecret.yaml
  charts/eks-anywhere-packages/templates/role.yaml
  charts/eks-anywhere-packages/templates/rolebinding.yaml
  charts/eks-anywhere-packages/templates/service.yaml
  charts/eks-anywhere-packages/templates/serviceaccount.yaml
  charts/eks-anywhere-packages/templates/servicemonitor.yaml
  charts/eks-anywhere-packages/templates/webhook.yaml
  charts/eks-anywhere-packages/values.yaml
Labels: lgtm, approved, size/M

#784 Add network policy
  api/testdata/prod_bundle.yaml.signed
  charts/eks-anywhere-packages/templates/network-policy.yaml
Labels: lgtm, approved, size/M

#793 Adding priority to tag substring promote cmd
  generatebundlefile/ecr.go
  generatebundlefile/ecr_test.go
  generatebundlefile/promote.go
Labels: lgtm, approved, size/M

#794 Move ADOT to staging / prod bundle
  generatebundlefile/data/bundles_prod/1-21.yaml
  generatebundlefile/data/bundles_prod/1-22.yaml
  generatebundlefile/data/bundles_prod/1-23.yaml
  generatebundlefile/data/bundles_prod/1-24.yaml
  generatebundlefile/data/bundles_staging/1-21.yaml
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/prod_artifact_move.yaml
  generatebundlefile/data/staging_artifact_move.yaml
  pkg/registry/testdata/package-bundle.yaml
Labels: lgtm, approved, size/S
