Repository aws/eks-anywhere-packages, pull requests merged in 2023-06, with the labels that each got.

#940 Update bundle for prometheus and harbor
  generatebundlefile/data/bundles_prod/1-22.yaml
  generatebundlefile/data/bundles_prod/1-23.yaml
  generatebundlefile/data/bundles_prod/1-24.yaml
  generatebundlefile/data/bundles_prod/1-25.yaml
  generatebundlefile/data/bundles_prod/1-26.yaml
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/prod_artifact_move.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/M

#943 Support for Ubuntu 22.04 in credential package
  credentialproviderpackage/charts/credential-provider-package/templates/_helpers.tpl
  credentialproviderpackage/charts/credential-provider-package/templates/daemonset.yaml
Labels: lgtm, approved, size/S

#944 Revert "Support for Ubuntu 22.04 in credential package"
  credentialproviderpackage/charts/credential-provider-package/templates/_helpers.tpl
  credentialproviderpackage/charts/credential-provider-package/templates/daemonset.yaml
Labels: lgtm, approved, size/S

#945 Using metallb image in public ECR for promotion
  generatebundlefile/data/bundles_prod/1-22.yaml
  generatebundlefile/data/bundles_prod/1-23.yaml
  generatebundlefile/data/bundles_prod/1-24.yaml
  generatebundlefile/data/bundles_prod/1-25.yaml
  generatebundlefile/data/bundles_prod/1-26.yaml
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/prod_artifact_move.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/M

#946 Changing linux api version for credential package
  credentialproviderpackage/pkg/configurator/linux/linux.go
  credentialproviderpackage/pkg/configurator/linux/linux_test.go
Labels: lgtm, approved, size/M

#947 Adjusting api version by -1 for e2e tests
  credentialproviderpackage/pkg/configurator/linux/linux.go
  credentialproviderpackage/pkg/configurator/linux/linux_test.go
Labels: lgtm, approved, size/M

#948 Changing api version for double cloud provider version
  credentialproviderpackage/pkg/configurator/linux/linux.go
  credentialproviderpackage/pkg/configurator/linux/linux_test.go
Labels: lgtm, approved, size/S

#949 Update 1.27 package bundles
  generatebundlefile/data/bundles_prod/1-27.yaml
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/prod_artifact_move.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/L

#950 Update scripts for 1.27
  generatebundlefile/hack/release_prod.sh
  generatebundlefile/hack/release_staging.sh
Labels: lgtm, approved, size/XS

#951 Update scripts for 1.27
  generatebundlefile/hack/release_prod.sh
  generatebundlefile/hack/release_staging.sh
Labels: lgtm, approved, size/XS

#952 Update ecrCredProviderBinary path
  credentialproviderpackage/pkg/configurator/linux/linux.go
Labels: lgtm, approved, size/S

#953 Update credential package version in bundle
  generatebundlefile/data/bundles_prod/1-22.yaml
  generatebundlefile/data/bundles_prod/1-23.yaml
  generatebundlefile/data/bundles_prod/1-24.yaml
  generatebundlefile/data/bundles_prod/1-25.yaml
  generatebundlefile/data/bundles_prod/1-26.yaml
  generatebundlefile/data/bundles_prod/1-27.yaml
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/prod_artifact_move.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/S

#954 Pull eks-anywhere-packages-migrations images by sha256
  charts/eks-anywhere-packages-migrations/templates/_helpers.tpl
Labels: lgtm, approved, size/XS

#931 Update helm version
  Makefile
  charts/eks-anywhere-packages-crds/templates/crd.yaml
  charts/eks-anywhere-packages/crds/crd.yaml
  config/crd/bases/packages.eks.amazonaws.com_packagebundlecontrollers.yaml
  config/crd/bases/packages.eks.amazonaws.com_packagebundles.yaml
  config/crd/bases/packages.eks.amazonaws.com_packages.yaml
  config/crd/kustomization.yaml
  config/default/kustomization.yaml
  controllers/mocks/client.go
  controllers/mocks/manager.go
  controllers/package_controller.go
  controllers/packagebundle_controller.go
  controllers/packagebundle_controller_test.go
  controllers/packagebundlecontroller_controller.go
  credentialproviderpackage/Makefile
  credentialproviderpackage/go.mod
  credentialproviderpackage/go.sum
  ecrtokenrefresher/Makefile
  ecrtokenrefresher/go.mod
  ecrtokenrefresher/go.sum
  generatebundlefile/go.mod
  generatebundlefile/go.sum
  go.mod
  go.sum
  pkg/webhook/packagebundlecontroller_webhook.go
  pkg/webhook/packagebundlecontroller_webhook_test.go
Labels: lgtm, approved, size/XXL

#956 Revert "Update helm release to latest (#931)"
  Makefile
  charts/eks-anywhere-packages-crds/templates/crd.yaml
  charts/eks-anywhere-packages/crds/crd.yaml
  config/crd/bases/packages.eks.amazonaws.com_packagebundlecontrollers.yaml
  config/crd/bases/packages.eks.amazonaws.com_packagebundles.yaml
  config/crd/bases/packages.eks.amazonaws.com_packages.yaml
  config/crd/kustomization.yaml
  config/default/kustomization.yaml
  controllers/mocks/client.go
  controllers/mocks/manager.go
  controllers/package_controller.go
  controllers/packagebundle_controller.go
  controllers/packagebundle_controller_test.go
  controllers/packagebundlecontroller_controller.go
  credentialproviderpackage/Makefile
  credentialproviderpackage/go.mod
  credentialproviderpackage/go.sum
  ecrtokenrefresher/Makefile
  ecrtokenrefresher/go.mod
  ecrtokenrefresher/go.sum
  generatebundlefile/go.mod
  generatebundlefile/go.sum
  go.mod
  go.sum
  pkg/webhook/packagebundlecontroller_webhook.go
  pkg/webhook/packagebundlecontroller_webhook_test.go
Labels: lgtm, approved, size/XXL

#957 Revert "Revert "Support for Ubuntu 22.04 in credential package (#943)" "
  credentialproviderpackage/charts/credential-provider-package/templates/_helpers.tpl
  credentialproviderpackage/charts/credential-provider-package/templates/daemonset.yaml
Labels: lgtm, approved, size/S
