Repository aws/eks-anywhere-packages, pull requests merged in 2023-10, with the labels that each got.

#996 Bump packages tags in staging
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/S

#999 Fix packages tags in staging
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/S

#1000 Fix Packages in Staging
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: approved, size/S

#997 Bump packages in prod
  generatebundlefile/data/bundles_prod/1-23.yaml
  generatebundlefile/data/bundles_prod/1-24.yaml
  generatebundlefile/data/bundles_prod/1-25.yaml
  generatebundlefile/data/bundles_prod/1-26.yaml
  generatebundlefile/data/bundles_prod/1-27.yaml
  generatebundlefile/data/bundles_prod/1-28.yaml
  generatebundlefile/data/prod_artifact_move.yaml
Labels: lgtm, approved, size/S

#1001 Update staging to use properly versioned tags
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/S

#1003 Copy image digest as well as tag
  generatebundlefile/promote.go
Labels: lgtm, approved, size/M

#1004 Update Prod to use properly versions tags
  generatebundlefile/data/bundles_prod/1-23.yaml
  generatebundlefile/data/bundles_prod/1-24.yaml
  generatebundlefile/data/bundles_prod/1-25.yaml
  generatebundlefile/data/bundles_prod/1-26.yaml
  generatebundlefile/data/bundles_prod/1-27.yaml
  generatebundlefile/data/bundles_prod/1-28.yaml
  generatebundlefile/data/prod_artifact_move.yaml
Labels: lgtm, approved, size/S

#1005 Support private ECR-only bundle generation and promotion
  generatebundlefile/Makefile
  generatebundlefile/hack/docker-ecr-config.json
  generatebundlefile/main.go
  generatebundlefile/options.go
  generatebundlefile/promote.go
Labels: lgtm, approved, size/M

#1006 Add release clients for new build flow
  generatebundlefile/promote.go
Labels: lgtm, approved, size/S

#1009 Remove 1-22 and 1-23 references from bundle generation scripts
  generatebundlefile/data/bundles_dev/1-22.yaml
  generatebundlefile/data/bundles_dev/1-23.yaml
  generatebundlefile/data/bundles_prod/1-22.yaml
  generatebundlefile/data/bundles_prod/1-23.yaml
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/hack/common.sh
  generatebundlefile/hack/generate_bundle.sh
  generatebundlefile/hack/release_prod.sh
  generatebundlefile/hack/release_staging.sh
Labels: lgtm, approved, size/XL

#1010 Add packages input files for private ECR bundle generation
  generatebundlefile/data/bundles_dev/1-24-regional.yaml
  generatebundlefile/data/bundles_dev/1-25-regional.yaml
  generatebundlefile/data/bundles_dev/1-26-regional.yaml
  generatebundlefile/data/bundles_dev/1-27-regional.yaml
  generatebundlefile/data/bundles_dev/1-28-regional.yaml
  generatebundlefile/ecr.go
  generatebundlefile/ecr_helper.go
  generatebundlefile/ecr_public.go
  generatebundlefile/hack/common.sh
  generatebundlefile/hack/generate_bundle.sh
Labels: lgtm, approved, size/XL

#1012 Fix tags in staging
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/S

#1013 Fix tags in prod
  generatebundlefile/data/bundles_prod/1-24.yaml
  generatebundlefile/data/bundles_prod/1-25.yaml
  generatebundlefile/data/bundles_prod/1-26.yaml
  generatebundlefile/data/bundles_prod/1-27.yaml
  generatebundlefile/data/bundles_prod/1-28.yaml
  generatebundlefile/data/prod_artifact_move.yaml
Labels: lgtm, approved, size/S

#1014 Fix yaml
  generatebundlefile/data/bundles_prod/1-26.yaml
Labels: lgtm, approved, size/XS

#1017 Update env var and public key for regional builds
  Makefile
  generatebundlefile/hack/common.sh
  generatebundlefile/hack/generate_bundle.sh
  generatebundlefile/main.go
  generatebundlefile/options.go
  generatebundlefile/promote.go
  pkg/signature/manifest.go
Labels: lgtm, approved, size/M

#1018 Bump EKS-A packages SHA in staging bundles input
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/M

#1019 Use common public key for signing artifacts
  generatebundlefile/hack/common.sh
Labels: lgtm, approved, size/XS
