Repository aws/eks-anywhere-packages, pull requests merged in 2023-07, with the labels that each got.

#960 Updating packages for patch release
  generatebundlefile/data/bundles_prod/1-22.yaml
  generatebundlefile/data/bundles_prod/1-23.yaml
  generatebundlefile/data/bundles_prod/1-24.yaml
  generatebundlefile/data/bundles_prod/1-25.yaml
  generatebundlefile/data/bundles_prod/1-26.yaml
  generatebundlefile/data/bundles_prod/1-27.yaml
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/prod_artifact_move.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/L

#961 Updating bundles to use dev built credential package
  generatebundlefile/data/bundles_dev/1-22.yaml
  generatebundlefile/data/bundles_dev/1-23.yaml
  generatebundlefile/data/bundles_dev/1-24.yaml
  generatebundlefile/data/bundles_dev/1-25.yaml
  generatebundlefile/data/bundles_dev/1-26.yaml
  generatebundlefile/data/bundles_dev/1-27.yaml
  generatebundlefile/data/promote/eks-anywhere-packages/promote.yaml
Labels: lgtm, approved, size/S

#963 Fixing false error logging
  pkg/bundle/manager.go
Labels: lgtm, approved, size/XS

#962 Adjust eks-anywhere-packages tags to sha256 format
  charts/eks-anywhere-packages-migrations/templates/_helpers.tpl
  charts/eks-anywhere-packages-migrations/values.yaml
  charts/eks-anywhere-packages/values.yaml
Labels: lgtm, approved, size/S
