Repository aws/eks-anywhere-packages, pull requests merged in 2023-03, with the labels that each got.

#843 Bump controller-runtime version to v0.14.4
  controllers/mocks/client.go
  controllers/package_controller_test.go
  controllers/packagebundle_controller_test.go
  controllers/packagebundlecontroller_controller.go
  controllers/packagebundlecontroller_controller_test.go
  generatebundlefile/go.mod
  generatebundlefile/go.sum
  go.mod
  go.sum
  pkg/authenticator/target_cluster_client_test.go
  pkg/bundle/client.go
  pkg/bundle/client_test.go
Labels: lgtm, approved, size/L

#845 Upgrade containerd
  generatebundlefile/go.mod
  generatebundlefile/go.sum
  go.mod
  go.sum
Labels: lgtm, approved, size/M

#846 Add eksa-packages package
  generatebundlefile/data/bundles_dev/1-21.yaml
  generatebundlefile/data/bundles_dev/1-22.yaml
  generatebundlefile/data/bundles_dev/1-23.yaml
  generatebundlefile/data/bundles_dev/1-24.yaml
  generatebundlefile/data/bundles_dev/1-25.yaml
Labels: lgtm, approved, size/L

#848 Removing 1.21 packages files
  generatebundlefile/README.md
  generatebundlefile/data/bundles_prod/1-21.yaml
  generatebundlefile/data/bundles_staging/1-21.yaml
  generatebundlefile/data/input_local.yaml
  generatebundlefile/data/prod_artifact_move.yaml
  generatebundlefile/data/promote/autoscaler/promote.yaml
  generatebundlefile/data/promote/metrics-server/promote.yaml
  generatebundlefile/data/staging_artifact_move.yaml
  generatebundlefile/hack/generate_bundle.sh
  generatebundlefile/hack/release_prod.sh
  generatebundlefile/hack/release_staging.sh
Labels: lgtm, approved, size/L

#849 Promote eksa-packages charts
  generatebundlefile/data/promote/eks-anywhere-packages/promote.yaml
Labels: lgtm, approved, size/S

#850 Fixing repo names for packages promote
  generatebundlefile/data/promote/eks-anywhere-packages/promote.yaml
Labels: lgtm, approved, size/XS

#851 Fix repo name in dev bundle
  generatebundlefile/data/bundles_dev/1-22.yaml
  generatebundlefile/data/bundles_dev/1-23.yaml
  generatebundlefile/data/bundles_dev/1-24.yaml
  generatebundlefile/data/bundles_dev/1-25.yaml
Labels: lgtm, approved, size/XS

#852 Copying images over for packages dev chart for e2e
  generatebundlefile/data/promote/eks-anywhere-packages/promote.yaml
  generatebundlefile/hack/promote.sh
Labels: lgtm, approved, size/S

#853 Avoid one hour wait for pbc
  controllers/packagebundlecontroller_controller.go
Labels: lgtm, approved, size/XS

#854 Up the logging for package controller
  charts/eks-anywhere-packages/templates/deployment.yaml
Labels: lgtm, approved, size/XS

#855 Clear the state if no bundle
  pkg/bundle/manager.go
Labels: lgtm, approved, size/XS

#856 Fix wrong repo name in bundle
  generatebundlefile/data/bundles_dev/1-22.yaml
  generatebundlefile/data/bundles_dev/1-23.yaml
  generatebundlefile/data/bundles_dev/1-24.yaml
  generatebundlefile/data/bundles_dev/1-25.yaml
Labels: lgtm, approved, size/XS

#858 Add image pull secrets to migrations
  charts/eks-anywhere-packages-migrations/templates/adopt-crds-awssecret.yaml
Labels: lgtm, approved, size/XS

#861 Print config at startup
  cmd/server.go
  pkg/config/config.go
Labels: lgtm, approved, size/XS

#860 Adding 1.26 bundles to staging
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/staging_artifact_move.yaml
  generatebundlefile/hack/release_staging.sh
Labels: lgtm, approved, size/M

#862 Wrap cluster-specific namespace in lookup
  charts/eks-anywhere-packages/templates/awssecret.yaml
  charts/eks-anywhere-packages/templates/namespace.yaml
Labels: lgtm, approved, size/XS

#865 add minversion to bundle
  generatebundlefile/bundle.go
  generatebundlefile/bundle_types.go
  generatebundlefile/input.go
  generatebundlefile/main.go
Labels: lgtm, approved, size/M

#867 update harbor version in prod / staging bundle
  generatebundlefile/data/bundles_prod/1-22.yaml
  generatebundlefile/data/bundles_prod/1-23.yaml
  generatebundlefile/data/bundles_prod/1-24.yaml
  generatebundlefile/data/bundles_prod/1-25.yaml
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/prod_artifact_move.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/S

#866 Set minControllerVersion on all bundles
  generatebundlefile/data/bundles_dev/1-22.yaml
  generatebundlefile/data/bundles_dev/1-23.yaml
  generatebundlefile/data/bundles_dev/1-24.yaml
  generatebundlefile/data/bundles_dev/1-25.yaml
  generatebundlefile/data/bundles_dev/1-26.yaml
  generatebundlefile/data/bundles_prod/1-22.yaml
  generatebundlefile/data/bundles_prod/1-23.yaml
  generatebundlefile/data/bundles_prod/1-24.yaml
  generatebundlefile/data/bundles_prod/1-25.yaml
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
Labels: lgtm, approved, size/S

#829 Adding Credential Provider Package with source and helm chart
  .github/workflows/gosec.yml
  Makefile
  credentialproviderpackage/Dockerfile
  credentialproviderpackage/Makefile
  credentialproviderpackage/charts/credential-provider-package/.helmignore
  credentialproviderpackage/charts/credential-provider-package/Chart.yaml
  credentialproviderpackage/charts/credential-provider-package/templates/_helpers.tpl
  credentialproviderpackage/charts/credential-provider-package/templates/daemonset.yaml
  credentialproviderpackage/charts/credential-provider-package/templates/serviceaccount.yaml
  credentialproviderpackage/charts/credential-provider-package/values.yaml
  credentialproviderpackage/cmd/aws-credential-provider/main.go
  credentialproviderpackage/go.mod
  credentialproviderpackage/go.sum
  credentialproviderpackage/internal/test/files.go
  credentialproviderpackage/pkg/configurator/bottlerocket/bottlerocket.go
  credentialproviderpackage/pkg/configurator/bottlerocket/bottlerocket_test.go
  credentialproviderpackage/pkg/configurator/bottlerocket/testdata/testcreds
  credentialproviderpackage/pkg/configurator/configurator.go
  credentialproviderpackage/pkg/configurator/linux/linux.go
  credentialproviderpackage/pkg/configurator/linux/linux_test.go
  credentialproviderpackage/pkg/configurator/linux/templates/credential-provider-config.yaml
  credentialproviderpackage/pkg/configurator/linux/testdata/expected-config-multiple-patterns.yaml
  credentialproviderpackage/pkg/configurator/linux/testdata/expected-config.yaml
  credentialproviderpackage/pkg/configurator/linux/testdata/testcreds
  credentialproviderpackage/pkg/constants/constants.go
  credentialproviderpackage/pkg/filewriter/filewriter.go
  credentialproviderpackage/pkg/filewriter/filewriter_defaults.go
  credentialproviderpackage/pkg/filewriter/tmp_writer_test.go
  credentialproviderpackage/pkg/filewriter/writer.go
  credentialproviderpackage/pkg/filewriter/writer_test.go
  credentialproviderpackage/pkg/log/log.go
  credentialproviderpackage/pkg/templater/partialyaml.go
  credentialproviderpackage/pkg/templater/partialyaml_test.go
  credentialproviderpackage/pkg/templater/templater.go
  credentialproviderpackage/pkg/templater/templater_test.go
  credentialproviderpackage/pkg/templater/testdata/invalid_template.yaml
  credentialproviderpackage/pkg/templater/testdata/key4_template.yaml
  credentialproviderpackage/pkg/templater/testdata/partial_yaml_array_expected.yaml
  credentialproviderpackage/pkg/templater/testdata/partial_yaml_map_expected.yaml
  credentialproviderpackage/pkg/templater/testdata/partial_yaml_object_expected.yaml
  credentialproviderpackage/pkg/templater/testdata/test1_conditional_false_want.yaml
  credentialproviderpackage/pkg/templater/testdata/test1_conditional_true_want.yaml
  credentialproviderpackage/pkg/templater/testdata/test1_template.yaml
  credentialproviderpackage/pkg/templater/testdata/test_indent_template.yaml
  credentialproviderpackage/pkg/templater/testdata/test_indent_want.yaml
  credentialproviderpackage/pkg/templater/yaml.go
  credentialproviderpackage/skaffold.yaml
Labels: lgtm, approved, size/XXL

#872 Changing module credential-provider to github.com/aws/eks-anywhere-packages/credentialproviderpackage
  credentialproviderpackage/cmd/aws-credential-provider/main.go
  credentialproviderpackage/go.mod
  credentialproviderpackage/internal/test/files.go
  credentialproviderpackage/pkg/configurator/bottlerocket/bottlerocket.go
  credentialproviderpackage/pkg/configurator/bottlerocket/bottlerocket_test.go
  credentialproviderpackage/pkg/configurator/configurator.go
  credentialproviderpackage/pkg/configurator/linux/linux.go
  credentialproviderpackage/pkg/configurator/linux/linux_test.go
  credentialproviderpackage/pkg/filewriter/tmp_writer_test.go
  credentialproviderpackage/pkg/filewriter/writer_test.go
  credentialproviderpackage/pkg/templater/partialyaml_test.go
  credentialproviderpackage/pkg/templater/templater.go
  credentialproviderpackage/pkg/templater/templater_test.go
Labels: lgtm, approved, size/M

#868 ns create
  api/v1alpha1/packagebundle.go
  controllers/package_controller.go
  controllers/packagebundle_controller.go
  controllers/packagebundlecontroller_controller.go
  pkg/authenticator/mocks/target_cluster_client.go
  pkg/authenticator/target_cluster_client.go
  pkg/authenticator/target_cluster_client_test.go
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
  pkg/webhook/packagebundlecontroller_webhook.go
Labels: lgtm, approved, size/L

#873 Update eks-anywhere-packages versions
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/XS

#874 Fix eks-anywhere-packages versions for image scanning
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/XS

#875 Adding credential-provider-package to promote file
  generatebundlefile/data/promote/eks-anywhere-packages/promote.yaml
Labels: lgtm, approved, size/XS

#876 Adding credential-provider-package to dev bundle
  generatebundlefile/data/bundles_dev/1-22.yaml
  generatebundlefile/data/bundles_dev/1-23.yaml
  generatebundlefile/data/bundles_dev/1-24.yaml
  generatebundlefile/data/bundles_dev/1-25.yaml
  generatebundlefile/data/bundles_dev/1-26.yaml
Labels: lgtm, approved, size/S

#877 Fixing digest for credential package
  credentialproviderpackage/charts/credential-provider-package/values.yaml
Labels: lgtm, approved, size/XS

#878 Revert Update eks-anywhere-packages versions for image scanning
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/XS

#879 Credential package in package controller chart
  charts/eks-anywhere-packages/templates/credentialpackage.yaml
  charts/eks-anywhere-packages/values.yaml
  credentialproviderpackage/charts/credential-provider-package/templates/daemonset.yaml
  credentialproviderpackage/charts/credential-provider-package/values.yaml
  credentialproviderpackage/cmd/aws-credential-provider/main.go
  credentialproviderpackage/pkg/awscred/awscred.go
  credentialproviderpackage/pkg/awscred/awscred_test.go
  pkg/authenticator/mocks/target_cluster_client.go
  pkg/authenticator/target_cluster_client.go
  pkg/bundle/client.go
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
  pkg/bundle/mocks/client.go
Labels: lgtm, approved, size/L

#880 Address CVE https://nvd.nist.gov/vuln/detail/CVE-2022-41723
  credentialproviderpackage/go.mod
  credentialproviderpackage/go.sum
Labels: lgtm, approved, size/S

#884 Update hello package in staging and prod
  generatebundlefile/data/bundles_prod/1-22.yaml
  generatebundlefile/data/bundles_prod/1-23.yaml
  generatebundlefile/data/bundles_prod/1-24.yaml
  generatebundlefile/data/bundles_prod/1-25.yaml
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/prod_artifact_move.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/S

#885 Update prometheus package in staging and prod
  generatebundlefile/data/bundles_prod/1-22.yaml
  generatebundlefile/data/bundles_prod/1-23.yaml
  generatebundlefile/data/bundles_prod/1-24.yaml
  generatebundlefile/data/bundles_prod/1-25.yaml
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/prod_artifact_move.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/S

#883 Determining cluster compatability with credential package
  charts/eks-anywhere-packages/templates/_helpers.tpl
  charts/eks-anywhere-packages/templates/credentialpackage.yaml
  charts/eks-anywhere-packages/templates/cronjob.yaml
Labels: lgtm, approved, size/M

#887 Set cronjob suspend to false when cronjob is rendered.
  charts/eks-anywhere-packages/templates/cronjob.yaml
Labels: lgtm, approved, size/XS

#889 Bumping emissary 3.5.1 promote/staging
  generatebundlefile/data/promote/emissary/promote.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/XS

#888 Change secret to not be reapply on management cluster. Update BR versions
  charts/eks-anywhere-packages/templates/_helpers.tpl
  pkg/authenticator/target_cluster_client.go
  pkg/bundle/manager.go
  pkg/bundle/manager_test.go
Labels: lgtm, approved, size/M

#890 Add support for rendering just a package
  charts/eks-anywhere-packages/templates/_helpers.tpl
  charts/eks-anywhere-packages/templates/awssecret.yaml
  charts/eks-anywhere-packages/templates/certs.yaml
  charts/eks-anywhere-packages/templates/clusterrole.yaml
  charts/eks-anywhere-packages/templates/clusterrolebinding.yaml
  charts/eks-anywhere-packages/templates/configmap.yaml
  charts/eks-anywhere-packages/templates/credentialpackage.yaml
  charts/eks-anywhere-packages/templates/cronjob.yaml
  charts/eks-anywhere-packages/templates/deployment.yaml
  charts/eks-anywhere-packages/templates/namespace.yaml
  charts/eks-anywhere-packages/templates/network-policy.yaml
  charts/eks-anywhere-packages/templates/package.yaml
  charts/eks-anywhere-packages/templates/packagebundlecontroller.yaml
  charts/eks-anywhere-packages/templates/registrymirrorsecret.yaml
  charts/eks-anywhere-packages/templates/role.yaml
  charts/eks-anywhere-packages/templates/rolebinding.yaml
  charts/eks-anywhere-packages/templates/service.yaml
  charts/eks-anywhere-packages/templates/serviceaccount.yaml
  charts/eks-anywhere-packages/templates/servicemonitor.yaml
  charts/eks-anywhere-packages/templates/webhook.yaml
  charts/eks-anywhere-packages/values.yaml
Labels: lgtm, approved, size/L

#891 Control Plane Toleration and Bottlerocket version check
  charts/eks-anywhere-packages/templates/_helpers.tpl
  charts/eks-anywhere-packages/templates/credentialpackage.yaml
  credentialproviderpackage/go.mod
  credentialproviderpackage/go.sum
  credentialproviderpackage/pkg/configurator/bottlerocket/bottlerocket.go
  credentialproviderpackage/pkg/configurator/bottlerocket/bottlerocket_test.go
Labels: lgtm, approved, size/L

#892 Use latest base image for metallb
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
Labels: lgtm, approved, size/S

#893 Bumping version for staging artifact move
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/XS

#894 Using the actual tags for metallb from public ECR
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/S

#896 Updating staging bundles in prep for 0.15 release.
  generatebundlefile/data/bundles_dev/1-22.yaml
  generatebundlefile/data/bundles_dev/1-23.yaml
  generatebundlefile/data/bundles_dev/1-24.yaml
  generatebundlefile/data/bundles_dev/1-25.yaml
  generatebundlefile/data/bundles_dev/1-26.yaml
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/L

#897 Reverting artifact move back for image scanning
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/XS

#898 Updating staging until real staging builds out
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
Labels: lgtm, approved, size/S

#901 Fixing Ecr public lookup not use default accountID registry
  generatebundlefile/bundle.go
  generatebundlefile/bundle_test.go
  generatebundlefile/ecr_public.go
  generatebundlefile/hack/release_staging.sh
  generatebundlefile/main.go
  generatebundlefile/sts.go
Labels: lgtm, approved, size/M

#899 Copyimages added to public profile flag
  generatebundlefile/README.md
  generatebundlefile/bundle_types.go
  generatebundlefile/data/staging_artifact_move.yaml
  generatebundlefile/input.go
  generatebundlefile/main.go
  generatebundlefile/promote.go
Labels: approved, size/M

#904 Copyimages for migrations helm chart
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/XS

#907 Bumping emissary to 3.5.1 for staging/prod
  generatebundlefile/data/bundles_prod/1-22.yaml
  generatebundlefile/data/bundles_prod/1-23.yaml
  generatebundlefile/data/bundles_prod/1-24.yaml
  generatebundlefile/data/bundles_prod/1-25.yaml
  generatebundlefile/data/bundles_staging/1-22.yaml
  generatebundlefile/data/bundles_staging/1-23.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/prod_artifact_move.yaml
Labels: lgtm, approved, size/M

#910 Commenting out packages for artifact-move
  generatebundlefile/data/prod_artifact_move.yaml
Labels: lgtm, approved, size/XS

#912 Copy release prod chart images to private ECR
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/XS

#913 Using correct version for controller
  generatebundlefile/data/prod_artifact_move.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/XS

#914 Revert "Using correct version for controller"
  generatebundlefile/data/prod_artifact_move.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/XS
