Repository aws/eks-anywhere-packages, pull requests merged in 2024-10, with the labels that each got.

#1164 Update autoscaler and metrics-server version in the 1.31 dev bundle
  generatebundlefile/data/bundles_dev/1-31.yaml
Labels: lgtm, approved, size/XS

#1165 Update autoscaler helm chart version to latest 9.40.0 in dev bundle
  generatebundlefile/data/bundles_dev/1-27.yaml
  generatebundlefile/data/bundles_dev/1-28.yaml
  generatebundlefile/data/bundles_dev/1-29.yaml
  generatebundlefile/data/bundles_dev/1-30.yaml
  generatebundlefile/data/bundles_dev/1-31.yaml
Labels: lgtm, approved, size/S

#1166 Add staging bundle for Kubernetes version 1.31
  generatebundlefile/data/bundles_staging/1-31.yaml
  generatebundlefile/hack/release_staging.sh
Labels: lgtm, approved, size/L

#1167 Add prod bundle for Kubernetes version 1.31
  generatebundlefile/data/bundles_prod/1-31.yaml
  generatebundlefile/hack/release_prod.sh
Labels: lgtm, approved, size/L

#1168 Deprecate packages support for Kubernetes v1.26
  generatebundlefile/data/bundles_dev/1-26.yaml
  generatebundlefile/data/bundles_prod/1-26.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/hack/generate_bundle.sh
  generatebundlefile/hack/release_prod.sh
  generatebundlefile/hack/release_staging.sh
Labels: lgtm, approved, size/L

#1169 Update autoscaler and metrics-server charts to latest version in dev bundles
  generatebundlefile/data/bundles_dev/1-27.yaml
  generatebundlefile/data/bundles_dev/1-28.yaml
  generatebundlefile/data/bundles_dev/1-29.yaml
  generatebundlefile/data/bundles_dev/1-30.yaml
  generatebundlefile/data/bundles_dev/1-31.yaml
Labels: lgtm, approved, size/S

#1170 Update Curated Packages Staging bundle to latest version
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/bundles_staging/1-29.yaml
  generatebundlefile/data/bundles_staging/1-30.yaml
  generatebundlefile/data/bundles_staging/1-31.yaml
Labels: lgtm, approved, size/M

#1171 Update curated packages to latest for 1.31
  generatebundlefile/data/bundles_staging/1-31.yaml
Labels: lgtm, approved, size/S

#1172 Update metrics-server version for staging release
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/bundles_staging/1-29.yaml
  generatebundlefile/data/bundles_staging/1-30.yaml
  generatebundlefile/data/bundles_staging/1-31.yaml
Labels: lgtm, approved, size/S

#1173 Update curated packages prod to latest version
  generatebundlefile/data/bundles_prod/1-27.yaml
  generatebundlefile/data/bundles_prod/1-28.yaml
  generatebundlefile/data/bundles_prod/1-29.yaml
  generatebundlefile/data/bundles_prod/1-30.yaml
  generatebundlefile/data/bundles_prod/1-31.yaml
Labels: lgtm, approved, size/M

#1174 Update curated packages version for 1.31
  generatebundlefile/data/bundles_prod/1-31.yaml
Labels: lgtm, approved, size/S
