Repository aws/eks-anywhere-packages, pull requests merged in 2024-09, with the labels that each got.

#1158 Add dev bundle for K8s version 1.31
  .github/workflows/gosec.yml
  generatebundlefile/data/bundles_dev/1-31.yaml
  generatebundlefile/hack/generate_bundle.sh
Labels: lgtm, approved, size/L

#1159 Update Curated Packages staging bundles to latest version
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/bundles_staging/1-29.yaml
  generatebundlefile/data/bundles_staging/1-30.yaml
Labels: lgtm, approved, size/L

#1160 Fix version for autoscaler and metrics-server
  generatebundlefile/data/bundles_dev/1-31.yaml
Labels: lgtm, approved, size/XS

#1161 Packages staging release
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/bundles_staging/1-29.yaml
  generatebundlefile/data/bundles_staging/1-30.yaml
Labels: lgtm, approved, size/S

#1162 Update curated packages prod to latest version
  generatebundlefile/data/bundles_prod/1-26.yaml
  generatebundlefile/data/bundles_prod/1-27.yaml
  generatebundlefile/data/bundles_prod/1-28.yaml
  generatebundlefile/data/bundles_prod/1-29.yaml
  generatebundlefile/data/bundles_prod/1-30.yaml
Labels: lgtm, approved, size/L

#1163 Revert autoscaler and metrics-server to 1.30 kubernetes version
  generatebundlefile/data/bundles_dev/1-31.yaml
Labels: lgtm, approved, size/XS
