Repository aws/eks-anywhere-packages, pull requests merged in 2024-03, with the labels that each got.

#1076 Don't export AWS_PROFILE env var during login
  generatebundlefile/hack/common.sh
Labels: approved, size/XS

#1078 Remove non-image artifacts from image index
  Makefile
  credentialproviderpackage/Makefile
  ecrtokenrefresher/Makefile
  generatebundlefile/Makefile
  generatebundlefile/ecr_helper.go
  generatebundlefile/go.mod
  generatebundlefile/go.sum
  generatebundlefile/hack/policy.json
Labels: lgtm, approved, size/L

#1077 Fix tags for packages staging release
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/bundles_staging/1-29.yaml
  generatebundlefile/data/promote/eks-anywhere-packages/promote.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/L

#1079 Add Kubernetes 1.29 prod packages bundle files, deprecate 1.24 prod packages
  generatebundlefile/data/bundles_prod/1-25-regional.yaml
  generatebundlefile/data/bundles_prod/1-25.yaml
  generatebundlefile/data/bundles_prod/1-26-regional.yaml
  generatebundlefile/data/bundles_prod/1-26.yaml
  generatebundlefile/data/bundles_prod/1-27-regional.yaml
  generatebundlefile/data/bundles_prod/1-27.yaml
  generatebundlefile/data/bundles_prod/1-28-regional.yaml
  generatebundlefile/data/bundles_prod/1-28.yaml
  generatebundlefile/data/bundles_prod/1-29-regional.yaml
  generatebundlefile/data/bundles_prod/1-29.yaml
  generatebundlefile/data/prod_artifact_move-regional.yaml
  generatebundlefile/data/prod_artifact_move.yaml
  generatebundlefile/data/staging_artifact_move.yaml
  generatebundlefile/hack/common.sh
  generatebundlefile/hack/release_prod.sh
Labels: lgtm, approved, size/XL

#1080 Adding back copy images true to staging
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/XS

#1081 Adding back copy images for prod packages move
  generatebundlefile/data/prod_artifact_move.yaml
Labels: lgtm, approved, size/XS

#1085 fix prometheus version sha conflict
  generatebundlefile/data/bundles_prod/1-25.yaml
  generatebundlefile/data/bundles_prod/1-26.yaml
  generatebundlefile/data/bundles_prod/1-27.yaml
  generatebundlefile/data/bundles_prod/1-28.yaml
  generatebundlefile/data/bundles_prod/1-29.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/bundles_staging/1-29.yaml
  generatebundlefile/data/prod_artifact_move.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/S

#1089 Bump github.com/docker/docker from 20.10.24+incompatible to 25.0.1+incompatible in main and /generatebundlefile
  generatebundlefile/go.mod
  generatebundlefile/go.sum
  go.mod
  go.sum
  pkg/registry/client_test.go
Labels: approved, size/XXL

#1094 Run `gofumpt` and `gci` on codebase
  api/v1alpha1/package.go
  api/v1alpha1/packagebundle.go
  api/v1alpha1/packagebundle_test.go
  api/v1alpha1/packagebundlecontroller_test.go
  controllers/packagebundlecontroller_controller.go
  controllers/packagebundlecontroller_controller_test.go
  credentialproviderpackage/pkg/awscred/awscred.go
  credentialproviderpackage/pkg/awscred/awscred_test.go
  credentialproviderpackage/pkg/configurator/bottlerocket/bottlerocket.go
  credentialproviderpackage/pkg/configurator/bottlerocket/bottlerocket_test.go
  credentialproviderpackage/pkg/configurator/configurator.go
  credentialproviderpackage/pkg/configurator/linux/linux.go
  credentialproviderpackage/pkg/configurator/linux/linux_test.go
  ecrtokenrefresher/pkg/kubernetes/kubernetes.go
  pkg/artifacts/puller.go
  pkg/artifacts/registry.go
  pkg/authenticator/authenticator.go
  pkg/authenticator/ecrsecret.go
  pkg/bundle/registry_client.go
  pkg/config/config.go
  pkg/csset/csset_test.go
  pkg/driver/helmdriver.go
  pkg/driver/packagedriver.go
  pkg/packages/manager.go
  pkg/packages/manager_test.go
  pkg/registry/client.go
  pkg/registry/storage.go
  pkg/signature/manifest.go
  pkg/signature/manifest_test.go
  pkg/webhook/package_webhook.go
  pkg/webhook/package_webhook_test.go
Labels: approved, size/L
