Repository aws/eks-anywhere-packages, pull requests merged in 2024-02, with the labels that each got.

#1046 Bump Metrics Server on Dev
  generatebundlefile/data/bundles_dev/1-25-regional.yaml
  generatebundlefile/data/bundles_dev/1-25.yaml
  generatebundlefile/data/bundles_dev/1-26-regional.yaml
  generatebundlefile/data/bundles_dev/1-26.yaml
  generatebundlefile/data/bundles_dev/1-27-regional.yaml
  generatebundlefile/data/bundles_dev/1-27.yaml
Labels: lgtm, approved, size/S

#1050 Promote Metrics Server Helm Charts
  generatebundlefile/data/promote/metrics-server/promote.yaml
Labels: lgtm, approved, size/XS

#1051 Bump cluster-autoscaler to latest on dev and promote helm chart for autoscaler
  generatebundlefile/data/bundles_dev/1-24-regional.yaml
  generatebundlefile/data/bundles_dev/1-24.yaml
  generatebundlefile/data/bundles_dev/1-25-regional.yaml
  generatebundlefile/data/bundles_dev/1-25.yaml
  generatebundlefile/data/bundles_dev/1-26-regional.yaml
  generatebundlefile/data/bundles_dev/1-26.yaml
  generatebundlefile/data/bundles_dev/1-27-regional.yaml
  generatebundlefile/data/bundles_dev/1-27.yaml
  generatebundlefile/data/bundles_dev/1-28-regional.yaml
  generatebundlefile/data/bundles_dev/1-28.yaml
  generatebundlefile/data/promote/autoscaler/promote.yaml
Labels: lgtm, approved, size/M

#1052 Revert emissary to 3.6.0
  generatebundlefile/data/promote/emissary/promote.yaml
Labels: lgtm, approved, size/XS

#1055 Revert "Revert emissary to 3.6.0"
  generatebundlefile/data/promote/emissary/promote.yaml
Labels: lgtm, approved, size/XS

#1058 Bump AutoScaler and Metrics server version to latest for staging bundles
  generatebundlefile/data/bundles_staging/1-25-regional.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26-regional.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/bundles_staging/1-27-regional.yaml
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/bundles_staging/1-28-regional.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
Labels: lgtm, approved, size/M

#1049 Update cert-manager in staging bundle
  generatebundlefile/data/bundles_staging/1-24-regional.yaml
  generatebundlefile/data/bundles_staging/1-24.yaml
  generatebundlefile/data/bundles_staging/1-25-regional.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26-regional.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/bundles_staging/1-27-regional.yaml
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/bundles_staging/1-28-regional.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/staging_artifact_move-regional.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/S

#1057 Update OWNERS
  OWNERS
Labels: lgtm, approved, size/S

#1059 Update cert-manager to use correct images for regional
  .github/workflows/gosec.yml
  generatebundlefile/data/bundles_staging/1-24-regional.yaml
  generatebundlefile/data/bundles_staging/1-25-regional.yaml
  generatebundlefile/data/bundles_staging/1-26-regional.yaml
  generatebundlefile/data/bundles_staging/1-27-regional.yaml
  generatebundlefile/data/bundles_staging/1-28-regional.yaml
  generatebundlefile/data/staging_artifact_move-regional.yaml
Labels: lgtm, approved, size/S

#1054 Update ADOT staging bundle
  generatebundlefile/data/bundles_staging/1-25-regional.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26-regional.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/bundles_staging/1-27-regional.yaml
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/bundles_staging/1-28-regional.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/staging_artifact_move-regional.yaml
  generatebundlefile/data/staging_artifact_move.yaml
  pkg/registry/testdata/package-bundle.yaml
Labels: lgtm, approved, size/S

#1060 Fix metallb staging version for regional builds
  generatebundlefile/data/bundles_staging/1-25-regional.yaml
  generatebundlefile/data/bundles_staging/1-26-regional.yaml
  generatebundlefile/data/bundles_staging/1-27-regional.yaml
  generatebundlefile/data/bundles_staging/1-28-regional.yaml
  generatebundlefile/data/staging_artifact_move-regional.yaml
Labels: lgtm, approved, size/S

#1065 Fix ECR image tags for cluster auto-scaler and metrics server for regional builds
  generatebundlefile/data/bundles_staging/1-25-regional.yaml
  generatebundlefile/data/bundles_staging/1-26-regional.yaml
  generatebundlefile/data/bundles_staging/1-27-regional.yaml
  generatebundlefile/data/bundles_staging/1-28-regional.yaml
Labels: lgtm, approved, size/S

#1066 Add v1.29 dev packages bundles input
  generatebundlefile/data/bundles_dev/1-29-regional.yaml
  generatebundlefile/data/bundles_dev/1-29.yaml
  generatebundlefile/data/promote/autoscaler/promote.yaml
  generatebundlefile/data/promote/metrics-server/promote.yaml
  generatebundlefile/hack/generate_bundle.sh
Labels: lgtm, approved, size/L

#1067 Bump metrics-server tag to 0.7.0 for Kubernetes 1.29
  generatebundlefile/README.md
  generatebundlefile/data/bundles_dev/1-29-regional.yaml
  generatebundlefile/data/bundles_dev/1-29.yaml
  generatebundlefile/data/promote/metrics-server/promote.yaml
Labels: lgtm, approved, size/XS

#1068 Add logging for ECR Public lookup
  generatebundlefile/ecr_public.go
Labels: approved, size/XS

#1069 Bump metrics-server tag to 0.7.0 for all Kubernetes versions
  generatebundlefile/data/bundles_dev/1-25-regional.yaml
  generatebundlefile/data/bundles_dev/1-25.yaml
  generatebundlefile/data/bundles_dev/1-26-regional.yaml
  generatebundlefile/data/bundles_dev/1-26.yaml
  generatebundlefile/data/bundles_dev/1-27-regional.yaml
  generatebundlefile/data/bundles_dev/1-27.yaml
  generatebundlefile/data/bundles_dev/1-28-regional.yaml
  generatebundlefile/data/bundles_dev/1-28.yaml
  generatebundlefile/data/promote/metrics-server/promote.yaml
Labels: lgtm, approved, size/S

#1073 Add Kubernetes 1.29 staging packages bundle files, deprecate 1.24 packages
  generatebundlefile/data/bundles_staging/1-25-regional.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26-regional.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/bundles_staging/1-27-regional.yaml
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/bundles_staging/1-28-regional.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/bundles_staging/1-29-regional.yaml
  generatebundlefile/data/bundles_staging/1-29.yaml
  generatebundlefile/data/staging_artifact_move-regional.yaml
  generatebundlefile/data/staging_artifact_move.yaml
  generatebundlefile/hack/release_staging.sh
Labels: lgtm, approved, size/L

#1074 Fix AWS profile for release jobs
  generatebundlefile/hack/common.sh
  generatebundlefile/main.go
Labels: approved, size/S
