Repository aws/eks-anywhere-packages, pull requests merged in 2024-07, with the labels that each got.

#1136 Update private registry for promote job input files
  generatebundlefile/data/promote/autoscaler/promote.yaml
  generatebundlefile/data/promote/eks-anywhere-packages/promote.yaml
  generatebundlefile/data/promote/emissary/promote.yaml
  generatebundlefile/data/promote/metallb/promote.yaml
  generatebundlefile/data/promote/metrics-server/promote.yaml
Labels: lgtm, approved, size/M

#1134 Tag package bundles differently for regional staging/prod
  generatebundlefile/hack/common.sh
  generatebundlefile/hack/generate_bundle.sh
  generatebundlefile/hack/release_prod.sh
  generatebundlefile/hack/release_staging.sh
Labels: lgtm, approved, size/M

#1139 Add jhaanvi5 to owners
  OWNERS
Labels: lgtm, approved, size/XS

#1137 Remove non-regional bundle input files
  generatebundlefile/data/bundles_dev/1-26-regional.yaml
  generatebundlefile/data/bundles_dev/1-26.yaml
  generatebundlefile/data/bundles_dev/1-27-regional.yaml
  generatebundlefile/data/bundles_dev/1-27.yaml
  generatebundlefile/data/bundles_dev/1-28-regional.yaml
  generatebundlefile/data/bundles_dev/1-28.yaml
  generatebundlefile/data/bundles_dev/1-29-regional.yaml
  generatebundlefile/data/bundles_dev/1-29.yaml
  generatebundlefile/data/bundles_dev/1-30-regional.yaml
  generatebundlefile/data/bundles_dev/1-30.yaml
  generatebundlefile/data/bundles_prod/1-26-regional.yaml
  generatebundlefile/data/bundles_prod/1-26.yaml
  generatebundlefile/data/bundles_prod/1-27-regional.yaml
  generatebundlefile/data/bundles_prod/1-27.yaml
  generatebundlefile/data/bundles_prod/1-28-regional.yaml
  generatebundlefile/data/bundles_prod/1-28.yaml
  generatebundlefile/data/bundles_prod/1-29-regional.yaml
  generatebundlefile/data/bundles_prod/1-29.yaml
  generatebundlefile/data/bundles_prod/1-30-regional.yaml
  generatebundlefile/data/bundles_prod/1-30.yaml
  generatebundlefile/data/bundles_staging/1-26-regional.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/bundles_staging/1-27-regional.yaml
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/bundles_staging/1-28-regional.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/bundles_staging/1-29-regional.yaml
  generatebundlefile/data/bundles_staging/1-29.yaml
  generatebundlefile/data/bundles_staging/1-30-regional.yaml
  generatebundlefile/data/bundles_staging/1-30.yaml
  generatebundlefile/data/prod_artifact_move-regional.yaml
  generatebundlefile/data/prod_artifact_move.yaml
  generatebundlefile/data/staging_artifact_move-regional.yaml
  generatebundlefile/data/staging_artifact_move.yaml
  generatebundlefile/hack/common.sh
  generatebundlefile/hack/generate_bundle.sh
  generatebundlefile/hack/release_prod.sh
  generatebundlefile/hack/release_staging.sh
Labels: lgtm, approved, size/XXL

#1140 Remove regional build mode option from generatebundlefile CLI
  generatebundlefile/main.go
  generatebundlefile/options.go
  generatebundlefile/promote.go
  pkg/signature/manifest.go
  pkg/webhook/packagebundle_webhook_test.go
Labels: lgtm, approved, size/L

#1141 Update packages staging to latest version
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/bundles_staging/1-29.yaml
  generatebundlefile/data/bundles_staging/1-30.yaml
Labels: lgtm, approved, size/S

#1131 Add creation timestamp to package bundles
  generatebundlefile/bundle.go
Labels: lgtm, approved, size/S

#1143 Tag package bundles with epoch time and date of creation
  generatebundlefile/hack/common.sh
  generatebundlefile/hack/release_prod.sh
  generatebundlefile/input.go
Labels: lgtm, approved, size/M

#1142 Remove helm chart promotion to public ECR in staging and prod release
  generatebundlefile/hack/release_prod.sh
  generatebundlefile/hack/release_staging.sh
Labels: lgtm, approved, size/M

#1144 Removed unused input files after the refactor for staging and prod release scripts.
  generatebundlefile/data/prod_artifact_move.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/L

#1146 Remove bundle diff check for staging and prod release
  generatebundlefile/hack/common.sh
Labels: lgtm, approved, size/S

#1147 fix: remove reference for undefined method removeBundleMetadata
  generatebundlefile/hack/common.sh
Labels: lgtm, approved, size/XS

#1145 Update packages prod to latest version
  generatebundlefile/data/bundles_prod/1-26.yaml
  generatebundlefile/data/bundles_prod/1-27.yaml
  generatebundlefile/data/bundles_prod/1-28.yaml
  generatebundlefile/data/bundles_prod/1-29.yaml
  generatebundlefile/data/bundles_prod/1-30.yaml
Labels: lgtm, approved, size/S

#1148 Unset AWS_PROFILE env var in prod release script
  generatebundlefile/hack/release_prod.sh
Labels: lgtm, approved, size/XS
