Repository aws/eks-anywhere-packages, pull requests merged in 2024-06, with the labels that each got.

#1120 Add dev bundles for K8s version 1.30
  generatebundlefile/data/bundles_dev/1-30-regional.yaml
  generatebundlefile/data/bundles_dev/1-30.yaml
  generatebundlefile/data/promote/autoscaler/promote.yaml
  generatebundlefile/data/promote/metrics-server/promote.yaml
  generatebundlefile/hack/generate_bundle.sh
Labels: lgtm, approved, size/L

#1122 Update metrics-server to latest tag in dev bundle
  generatebundlefile/data/bundles_dev/1-25-regional.yaml
  generatebundlefile/data/bundles_dev/1-25.yaml
  generatebundlefile/data/bundles_dev/1-26-regional.yaml
  generatebundlefile/data/bundles_dev/1-26.yaml
  generatebundlefile/data/bundles_dev/1-27-regional.yaml
  generatebundlefile/data/bundles_dev/1-27.yaml
  generatebundlefile/data/bundles_dev/1-28-regional.yaml
  generatebundlefile/data/bundles_dev/1-28.yaml
  generatebundlefile/data/bundles_dev/1-29-regional.yaml
  generatebundlefile/data/bundles_dev/1-29.yaml
  generatebundlefile/data/bundles_dev/1-30-regional.yaml
  generatebundlefile/data/bundles_dev/1-30.yaml
  generatebundlefile/data/promote/autoscaler/promote.yaml
  generatebundlefile/data/promote/metrics-server/promote.yaml
  generatebundlefile/hack/generate_bundle.sh
Labels: lgtm, approved, size/L

#1123 Add Kubernetes 1.30 staging packages bundle and deprecate 1.25
  generatebundlefile/data/bundles_staging/1-26-regional.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/bundles_staging/1-27-regional.yaml
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/bundles_staging/1-28-regional.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/bundles_staging/1-29-regional.yaml
  generatebundlefile/data/bundles_staging/1-29.yaml
  generatebundlefile/data/bundles_staging/1-30-regional.yaml
  generatebundlefile/data/bundles_staging/1-30.yaml
  generatebundlefile/data/staging_artifact_move-regional.yaml
  generatebundlefile/data/staging_artifact_move.yaml
  generatebundlefile/hack/release_staging.sh
Labels: lgtm, approved, size/L

#1124 Fix dev and staging bundles using incorrect tags
  generatebundlefile/data/bundles_dev/1-30-regional.yaml
  generatebundlefile/data/staging_artifact_move-regional.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/S

#1125 Fix staging bundle image tags after manually running pipelines
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/bundles_staging/1-29.yaml
  generatebundlefile/data/bundles_staging/1-30.yaml
  generatebundlefile/data/promote/metallb/promote.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/M

#1126 Fix metrics server image tags for all Kubernetes versions
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/bundles_staging/1-29.yaml
  generatebundlefile/data/bundles_staging/1-30.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/S

#1127 Ensure all versions specified in input file are promoted
  generatebundlefile/main.go
Labels: lgtm, approved, size/XS

#1128 Filter out proper image tags based on tag format
  generatebundlefile/ecr_helper.go
Labels: lgtm, approved, size/S

#1129 Fix prometheus image tags in staging
  generatebundlefile/data/bundles_staging/1-26-regional.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/bundles_staging/1-27-regional.yaml
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/bundles_staging/1-28-regional.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/bundles_staging/1-29-regional.yaml
  generatebundlefile/data/bundles_staging/1-29.yaml
  generatebundlefile/data/bundles_staging/1-30-regional.yaml
  generatebundlefile/data/bundles_staging/1-30.yaml
  generatebundlefile/data/staging_artifact_move-regional.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/S

#1132 Bump cert-manager to fixed chart
  generatebundlefile/data/bundles_staging/1-26-regional.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/bundles_staging/1-27-regional.yaml
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/bundles_staging/1-28-regional.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/bundles_staging/1-29-regional.yaml
  generatebundlefile/data/bundles_staging/1-29.yaml
  generatebundlefile/data/bundles_staging/1-30-regional.yaml
  generatebundlefile/data/bundles_staging/1-30.yaml
  generatebundlefile/data/staging_artifact_move-regional.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/S

#1133 Bump cert-manager chart for prod
  generatebundlefile/data/bundles_prod/1-26-regional.yaml
  generatebundlefile/data/bundles_prod/1-26.yaml
  generatebundlefile/data/bundles_prod/1-27-regional.yaml
  generatebundlefile/data/bundles_prod/1-27.yaml
  generatebundlefile/data/bundles_prod/1-28-regional.yaml
  generatebundlefile/data/bundles_prod/1-28.yaml
  generatebundlefile/data/bundles_prod/1-29-regional.yaml
  generatebundlefile/data/bundles_prod/1-29.yaml
  generatebundlefile/data/bundles_prod/1-30-regional.yaml
  generatebundlefile/data/bundles_prod/1-30.yaml
  generatebundlefile/data/prod_artifact_move-regional.yaml
  generatebundlefile/data/prod_artifact_move.yaml
Labels: lgtm, approved, size/S
