Repository aws/eks-anywhere-packages, pull requests merged in 2024-08, with the labels that each got.

#1150 Remove promo flag and other dependent flags from the generatebundlefile CLI
  generatebundlefile/README.md
  generatebundlefile/buildspecs/buildspec.yml
  generatebundlefile/bundle.go
  generatebundlefile/bundle_test.go
  generatebundlefile/bundle_types.go
  generatebundlefile/data/promote/autoscaler/promote.yaml
  generatebundlefile/data/promote/eks-anywhere-packages/promote.yaml
  generatebundlefile/data/promote/emissary/promote.yaml
  generatebundlefile/data/promote/metallb/promote.yaml
  generatebundlefile/data/promote/metrics-server/promote.yaml
  generatebundlefile/ecr.go
  generatebundlefile/ecr_helper.go
  generatebundlefile/ecr_public.go
  generatebundlefile/ecr_test.go
  generatebundlefile/go.mod
  generatebundlefile/go.sum
  generatebundlefile/hack/common.sh
  generatebundlefile/hack/promote.sh
  generatebundlefile/helm.go
  generatebundlefile/input.go
  generatebundlefile/main.go
  generatebundlefile/options.go
  generatebundlefile/promote.go
  generatebundlefile/region.go
  generatebundlefile/sts.go
Labels: lgtm, approved, size/XXL

#1153 Update Curated Packages staging bundles to latest version
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/bundles_staging/1-29.yaml
  generatebundlefile/data/bundles_staging/1-30.yaml
Labels: lgtm, approved, size/M

#1154 Update curated packages prod to latest version
  generatebundlefile/data/bundles_prod/1-26.yaml
  generatebundlefile/data/bundles_prod/1-27.yaml
  generatebundlefile/data/bundles_prod/1-28.yaml
  generatebundlefile/data/bundles_prod/1-29.yaml
  generatebundlefile/data/bundles_prod/1-30.yaml
Labels: lgtm, approved, size/M

#1155 Use only artifacts built from main branch in package bundle
  generatebundlefile/ecr_helper.go
Labels: lgtm, approved, size/XS

#1156 Cleanup unused functions and types in bundle generation code
  generatebundlefile/Makefile
  generatebundlefile/bundle.go
  generatebundlefile/bundle_test.go
  generatebundlefile/ecr.go
  generatebundlefile/ecr_helper.go
  generatebundlefile/ecr_public.go
  generatebundlefile/filewriter.go
  generatebundlefile/go.mod
  generatebundlefile/go.sum
  generatebundlefile/hack/common.sh
  generatebundlefile/hack/docker-ecr-config.json
  generatebundlefile/hack/policy.json
  generatebundlefile/main.go
  generatebundlefile/promote.go
Labels: lgtm, approved, size/L

#1157 Use helm charts only from main branch when finding latest image tag
  generatebundlefile/README.md
  generatebundlefile/bundle_test.go
  generatebundlefile/ecr.go
  generatebundlefile/ecr_helper.go
Labels: lgtm, approved, size/S
