Repository aws/eks-anywhere-packages, pull requests merged in 2024-04, with the labels that each got.

#1095 Provide admission webhook decoder when instantiating CRD validators
  pkg/packages/manager_test.go
  pkg/webhook/package_webhook.go
  pkg/webhook/packagebundle_webhook.go
  pkg/webhook/packagebundle_webhook_test.go
  pkg/webhook/packagebundlecontroller_webhook.go
Labels: lgtm, approved, size/M

#1099 Fix AWS profile arg for ECR login
  generatebundlefile/hack/common.sh
Labels: lgtm, approved, size/S

#1101 Add sp1999 to OWNERS
  OWNERS
Labels: lgtm, approved, size/XS

#1102 Conditionally install registry mirror secret with Helm chart
  charts/eks-anywhere-packages/templates/registrymirrorsecret.yaml
Labels: lgtm, approved, size/M

#1103 Moving helm chart comment block
  charts/eks-anywhere-packages/templates/registrymirrorsecret.yaml
Labels: lgtm, approved, size/XS

#1104 Adding reg mirror sec creation on flag workloadPackageOnly
  charts/eks-anywhere-packages/templates/registrymirrorsecret.yaml
Labels: lgtm, approved, size/XS

#1105 Updating registry mirror CA cert in PBC controller reconcile
  api/v1alpha1/packagebundlecontroller.go
  api/v1alpha1/packagebundlecontroller_test.go
  controllers/packagebundlecontroller_controller.go
  controllers/packagebundlecontroller_controller_test.go
  pkg/bundle/client.go
  pkg/registry/certinjector.go
  pkg/registry/certinjector_test.go
Labels: lgtm, approved, size/L

#1111 Bumping staging versions for eks-anywhere-packages
  generatebundlefile/data/bundles_staging/1-25-regional.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26-regional.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/bundles_staging/1-27-regional.yaml
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/bundles_staging/1-28-regional.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/bundles_staging/1-29-regional.yaml
  generatebundlefile/data/bundles_staging/1-29.yaml
  generatebundlefile/data/staging_artifact_move-regional.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/M

#1112 Update packages image to point to latest tag
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/XS

#1114 Bump packages prod release tags
  generatebundlefile/data/bundles_prod/1-25-regional.yaml
  generatebundlefile/data/bundles_prod/1-25.yaml
  generatebundlefile/data/bundles_prod/1-26-regional.yaml
  generatebundlefile/data/bundles_prod/1-26.yaml
  generatebundlefile/data/bundles_prod/1-27-regional.yaml
  generatebundlefile/data/bundles_prod/1-27.yaml
  generatebundlefile/data/bundles_prod/1-28-regional.yaml
  generatebundlefile/data/bundles_prod/1-28.yaml
  generatebundlefile/data/bundles_prod/1-29-regional.yaml
  generatebundlefile/data/bundles_prod/1-29.yaml
  generatebundlefile/data/prod_artifact_move-regional.yaml
  generatebundlefile/data/prod_artifact_move.yaml
Labels: lgtm, approved, size/M

#1116 Adding secret defaulting and always look up reg secret
  charts/eks-anywhere-packages/templates/registrymirrorsecret.yaml
  ecrtokenrefresher/pkg/secrets/common/common.go
Labels: lgtm, approved, size/M

#1117 Update packages staging to latest version
  generatebundlefile/data/bundles_staging/1-25-regional.yaml
  generatebundlefile/data/bundles_staging/1-25.yaml
  generatebundlefile/data/bundles_staging/1-26-regional.yaml
  generatebundlefile/data/bundles_staging/1-26.yaml
  generatebundlefile/data/bundles_staging/1-27-regional.yaml
  generatebundlefile/data/bundles_staging/1-27.yaml
  generatebundlefile/data/bundles_staging/1-28-regional.yaml
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/bundles_staging/1-29-regional.yaml
  generatebundlefile/data/bundles_staging/1-29.yaml
  generatebundlefile/data/staging_artifact_move-regional.yaml
  generatebundlefile/data/staging_artifact_move.yaml
Labels: lgtm, approved, size/M
