Repository aws/eks-anywhere-packages, pull requests merged in 2025-05, with the labels that each got.

#1202 Update Curated packages staging bundle to latest
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/bundles_staging/1-29.yaml
  generatebundlefile/data/bundles_staging/1-30.yaml
  generatebundlefile/data/bundles_staging/1-31.yaml
  generatebundlefile/data/bundles_staging/1-32.yaml
Labels: lgtm, approved, size/L

#1203 Update OWNERS
  OWNERS
Labels: lgtm, approved, size/XS

#1204 Update Emissary and Harbor Curated Packages to latest version for staging release
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/bundles_staging/1-29.yaml
  generatebundlefile/data/bundles_staging/1-30.yaml
  generatebundlefile/data/bundles_staging/1-31.yaml
  generatebundlefile/data/bundles_staging/1-32.yaml
Labels: lgtm, approved, size/M

#1205 Update autoscaler and metrics-server for staging release
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/bundles_staging/1-29.yaml
  generatebundlefile/data/bundles_staging/1-30.yaml
  generatebundlefile/data/bundles_staging/1-31.yaml
  generatebundlefile/data/bundles_staging/1-32.yaml
Labels: lgtm, approved, size/S

#1206 feat: add CVE scanner script for critical vulnerabilities in curated package images
  scripts/packages_image_scan.py
Labels: lgtm, approved, size/L

#1207 [WIP] Updating autoscaler to latest for staging
  generatebundlefile/data/bundles_staging/1-28.yaml
  generatebundlefile/data/bundles_staging/1-29.yaml
  generatebundlefile/data/bundles_staging/1-30.yaml
  generatebundlefile/data/bundles_staging/1-31.yaml
  generatebundlefile/data/bundles_staging/1-32.yaml
Labels: lgtm, approved, size/S

#1208 Update packages prod to latest version v0.4.6
  generatebundlefile/data/bundles_prod/1-28.yaml
  generatebundlefile/data/bundles_prod/1-29.yaml
  generatebundlefile/data/bundles_prod/1-30.yaml
  generatebundlefile/data/bundles_prod/1-31.yaml
  generatebundlefile/data/bundles_prod/1-32.yaml
Labels: lgtm, approved, size/L
