Repository aws/eks-anywhere-packages, pull requests merged in 2025-03, with the labels that each got.

#1188 Add buildspec and script for curated packages release announcement
  release/buildspecs/release-announce.yml
  release/scripts/announce-curated-packages-release.sh
Labels: lgtm, approved, size/L

#1190 Use session token for ecr aws authentication
  charts/eks-anywhere-packages/templates/awssecret.yaml
  charts/eks-anywhere-packages/templates/cronjob.yaml
  charts/eks-anywhere-packages/templates/deployment.yaml
  charts/eks-anywhere-packages/values.yaml
  credentialproviderpackage/pkg/awscred/awscred.go
  credentialproviderpackage/pkg/awscred/awscred_test.go
  pkg/registry/ecr_cred_injector.go
  tilt/deployment.yaml
Labels: lgtm, approved, size/L

#1192 Add vivek-koppuru to owners file
  OWNERS
Labels: lgtm, approved, size/XS

#1193 Update golang to 1.23
  .github/workflows/golangci-lint.yml
  .golangci.yml
  Makefile
  api/v1alpha1/zz_generated.deepcopy.go
  charts/eks-anywhere-packages-crds/templates/crd.yaml
  charts/eks-anywhere-packages/crds/crd.yaml
  config/crd/bases/packages.eks.amazonaws.com_packagebundlecontrollers.yaml
  config/crd/bases/packages.eks.amazonaws.com_packagebundles.yaml
  config/crd/bases/packages.eks.amazonaws.com_packages.yaml
  generatebundlefile/go.mod
  go.mod
  pkg/webhook/package_webhook.go
  pkg/webhook/packagebundlecontroller_webhook_test.go
Labels: lgtm, approved, size/L

#1196 Upgrade golang.org/x/net to 0.37.0
  generatebundlefile/go.mod
  generatebundlefile/go.sum
  go.mod
  go.sum
Labels: lgtm, approved, size/M
